{% extends '@default/base.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
            <div class="row-fluid">
                <div class="span12">
                    {% include "@snippets/item.twig" with { 'item': item_data } %}
                </div>
            </div>
{% endblock %}
