/*! lib/colors/gray */
@use "sass:color";
@use "../app/variables" as v;

$color-default    : v.$dc-gray-darkest !default;
$color-darkest    : v.$dc-gray-darkest !default;
$color-darker     : v.$dc-gray-darker !default;
$color-dark       : v.$dc-gray-dark !default;
$color-med-dark   : v.$dc-gray-med-dark !default;
$color-medium     : v.$dc-gray-medium !default;
$color-med-light  : v.$dc-gray-med-light !default;
$color-light      : v.$dc-gray-light !default;
$color-lighter    : v.$dc-gray-lighter !default;
$color-lightest   : v.$dc-gray-lightest !default;
$color-body       : v.$dc-gray-lighter !default;
$color-container  : v.$dc-gray-lightest !default;
$color-border     : v.$dc-gray-darkest !default;
$color-complement : v.$dc-gray-complement !default;
$color-shadow      : color.scale(v.$dc-gray-darkest, $alpha: -35%) !default;
$color-shadow-alt  : color.scale(v.$dc-gray-complement, $alpha: -35%) !default;
$color-heading     : v.$dc-gray-darkest !default;
$color-heading-alt : v.$dc-gray-complement !default;

/* Gradient */
$gradient-start   : v.$dc-gray-med-light !default;
$gradient-stop    : v.$dc-gray-barely !default;

/* Misc */
$border-color     : v.$dc-gray-light !default;

/* Navbar */
$navbar-text-color      : v.$dc-black-color !default;
$navbar-link-active     : v.$dc-gray-dark !default;
$navbar-link-hover      : v.$dc-gray-complement !default;
$navbar-sub-bg          : v.$dc-gray-lightest !default;
$navbar-sub-bg-hover    : v.$dc-gray-medium !default;
$navbar-sub-text-color  : v.$dc-black-color !default;
$navbar-sub-link-active : v.$dc-gray-med-dark !default;
$navbar-sub-link-hover  : v.$dc-gray-complement !default;

