/*! lib/colors/gray */
@use "sass:color";
@use "../defaults/colors" as c;

$color-default:          c.$gray-darkest !default;
$color-darkest:          c.$gray-darkest !default;
$color-darker:           c.$gray-darker !default;
$color-dark:             c.$gray-dark !default;
$color-med-dark:         c.$gray-med-dark !default;
$color-medium:           c.$gray-medium !default;
$color-med-light:        c.$gray-med-light !default;
$color-light:            c.$gray-light !default;
$color-lighter:          c.$gray-lighter !default;
$color-lightest:         c.$gray-lightest !default;
$color-body:             c.$gray-lighter !default;
$color-container:        c.$gray-lightest !default;
$color-border:           c.$gray-darkest !default;
$color-complement:       c.$gray-complement !default;
$color-shadow:           color.scale(c.$gray-darkest, $alpha: -35%) !default;
$color-shadow-alt:       color.scale(c.$gray-complement, $alpha: -35%) !default;
$color-heading:          c.$gray-darkest !default;
$color-heading-alt:      c.$gray-complement !default;

/* Gradient */
$gradient-start:         c.$gray-med-light !default;
$gradient-stop:          c.$gray-barely !default;

/* Misc */
$border-color:           c.$gray-light !default;
$row-light:              c.$gray-lightest;
$row-medium:             c.$gray-light;
$row-dark:               c.$gray-darkest;

/* Navbar */
$navbar-text-color:      c.$black-color !default;
$navbar-link-active:     c.$gray-dark !default;
$navbar-link-hover:      c.$gray-complement !default;
$navbar-sub-bg:          c.$gray-lightest !default;
$navbar-sub-bg-hover:    c.$gray-medium !default;
$navbar-sub-text-color:  c.$black-color !default;
$navbar-sub-link-active: c.$gray-med-dark !default;
$navbar-sub-link-hover:  c.$gray-complement !default;

