@use "sass:color";
@use "../defaults/colors" as dc;

$color-default    : dc.$gray-darkest !default;
$color-darkest    : dc.$gray-darkest !default;
$color-darker     : dc.$gray-darker !default;
$color-dark       : dc.$gray-dark !default;
$color-med-dark   : dc.$gray-med-dark !default;
$color-medium     : dc.$gray-medium !default;
$color-med-light  : dc.$gray-med-light !default;
$color-light      : dc.$gray-light !default;
$color-lighter    : dc.$gray-lighter !default;
$color-lightest   : dc.$gray-lightest !default;
$color-body       : dc.$gray-lighter !default;
$color-container  : dc.$gray-lightest !default;
$color-border     : dc.$gray-darkest !default;
$color-complement : dc.$gray-complement !default;
$color-shadow      : color.scale(dc.$gray-darkest, $alpha: -35%) !default;
$color-shadow-alt  : color.scale(dc.$gray-complement, $alpha: -35%) !default;
$color-heading     : dc.$gray-darkest !default;
$color-heading-alt : dc.$gray-complement !default;

/* Gradient */
$gradient-start   : dc.$gray-med-light !default;
$gradient-stop    : dc.$gray-barely !default;

/* Misc */
$border-color     : dc.$gray-light !default;

/* Navbar */
$navbar-text-color      : dc.$black-color !default;
$navbar-link-active     : dc.$gray-dark !default;
$navbar-link-hover      : dc.$gray-complement !default;
$navbar-sub-bg          : dc.$gray-lightest !default;
$navbar-sub-bg-hover    : dc.$gray-medium !default;
$navbar-sub-text-color  : dc.$black-color !default;
$navbar-sub-link-active : dc.$gray-med-dark !default;
$navbar-sub-link-hover  : dc.$gray-complement !default;

