@use "sass:color";
@use "../defaults/colors" as dc;

$color-default:    dc.$green-darker !default;
$color-darkest:    dc.$green-darkest !default;
$color-darker:     dc.$green-darker !default;
$color-dark:       dc.$green-dark !default;
$color-med-dark:   dc.$green-med-dark !default;
$color-medium:     dc.$green-medium !default;
$color-med-light:  dc.$green-med-light !default;
$color-light:      dc.$green-light !default;
$color-lighter:    dc.$green-lighter !default;
$color-lightest:   dc.$green-lightest !default;
$color-body:       dc.$green-dark !default;
$color-container:  dc.$green-lightest !default;
$color-border:     dc.$green-darker !default;
$color-complement: dc.$green-complement !default;
$color-shadow      : color.scale(dc.$gray-darkest, $alpha: -35%) !default;
$color-shadow-alt  : color.scale(dc.$gray-complement, $alpha: -35%) !default;
$color-heading     : dc.$green-darkest !default;
$color-heading-alt : dc.$green-complement !default;

/* Gradient */
$gradient-start: dc.$green-med-dark !default;
$gradient-stop:  dc.$green-med-light !default;

/* Misc */
$border-color     : dc.$blue-light !default;

/* Navbar */
$navbar-text-color:      dc.$green-xlight !default;
$navbar-link-active:     dc.$green-light !default;
$navbar-link-hover:      dc.$color-white !default;
$navbar-sub-bg:          dc.$green-xlight !default;
$navbar-sub-bg-hover:    dc.$green-light !default;
$navbar-sub-text-color:  dc.$black-color !default;
$navbar-sub-link-active: dc.$green-light !default;
$navbar-sub-link-hover:  dc.$green-med-dark !default;

