@use "sass:color";
@use "../defaults/colors" as dc;

$color-default    : dc.$slate-medium !default;
$color-darkest    : dc.$slate-darkest !default;
$color-darker     : dc.$slate-darker !default;
$color-dark       : dc.$slate-dark !default;
$color-med-dark   : dc.$slate-med-dark !default;
$color-medium     : dc.$slate-medium !default;
$color-med-light  : dc.$slate-med-light !default;
$color-light      : dc.$slate-light !default;
$color-lighter    : dc.$slate-lighter !default;
$color-lightest   : dc.$slate-lightest !default;
$color-body       : dc.$slate-lighter !default;
$color-container  : dc.$slate-lightest !default;
$color-border     : dc.$slate-darkest !default;
$color-complement : dc.$slate-complement !default;
$color-shadow      : color.scale(dc.$gray-darkest, $alpha: -35%) !default;
$color-shadow-alt  : color.scale(dc.$gray-complement, $alpha: -35%) !default;
$color-heading     : dc.$slate-darkest !default;
$color-heading-alt : dc.$slate-complement !default;

/* Gradient */
$gradient-start   : $color-light !default;
$gradient-stop    : $color-lightest !default;

/* Misc */
$border-color     : dc.$slate-light !default;

/* Navbar */
$navbar-text-color      : $color-darkest !default;
$navbar-link-active     : $color-dark !default;
$navbar-link-hover      : $color-med-dark !default;
$navbar-sub-bg          : $color-lightest !default;
$navbar-sub-bg-hover    : $color-light !default;
$navbar-sub-text-color  : $color-darkest !default;
$navbar-sub-link-active : $color-dark !default;
$navbar-sub-link-hover  : $color-darkest !default;

