@use "sass:color";
@use "defaults/colors" as dc;

$color-default:    dc.$green-darker;
$color-darkest:    dc.$green-darkest;
$color-darker:     dc.$green-darker;
$color-dark:       dc.$green-dark;
$color-med-dark:   dc.$green-med-dark;
$color-medium:     dc.$green-medium;
$color-med-light:  dc.$green-med-light;
$color-light:      dc.$green-light;
$color-lighter:    dc.$green-lighter;
$color-lightest:   dc.$green-lightest;
$color-body:       dc.$green-dark;
$color-container:  dc.$green-lightest;
$color-border:     dc.$green-darker;
$color-complement: dc.$green-complement;

/* Gradient */
$gradient-start: dc.$green-med-dark;
$gradient-stop:  dc.$green-med-light;

/* Navbar */
$navbar-text-color:      dc.$green-xlight;
$navbar-link-active:     dc.$green-light;
$navbar-link-hover:      dc.$color-white;
$navbar-sub-bg:          dc.$green-xlight;
$navbar-sub-bg-hover:    dc.$green-light;
$navbar-sub-text-color:  dc.$black-color;
$navbar-sub-link-active: dc.$green-light;
$navbar-sub-link-hover:  dc.$green-med-dark;

