@use "sass:color";
@use "defaults/colors" as dc;

$color-default    : dc.$blue-medium;
$color-darkest    : dc.$blue-darkest;
$color-darker     : dc.$blue-darker;
$color-dark       : dc.$blue-dark;
$color-med-dark   : dc.$blue-med-dark;
$color-medium     : dc.$blue-medium;
$color-med-light  : dc.$blue-med-light;
$color-light      : dc.$blue-light;
$color-lighter    : dc.$blue-lighter;
$color-lightest   : dc.$blue-lightest;
$color-body       : dc.$blue-lighter;
$color-container  : dc.$blue-lightest;
$color-border     : dc.$blue-darkest;
$color-complement : dc.$blue-complement;
$color-shadow      : transparentize(dc.$gray-darkest, .35);
$color-shadow-alt  : transparentize(dc.$gray-complement, .35);
$color-heading     : dc.$blue-darkest;
$color-heading-alt : dc.$blue-complement;

/* Gradient */
$gradient-start   : $color-light;
$gradient-stop    : $color-lightest;

/* Navbar */
$navbar-text-color      : $color-darkest;
$navbar-link-active     : $color-dark;
$navbar-link-hover      : $color-med-dark;
$navbar-sub-bg          : $color-lightest;
$navbar-sub-bg-hover    : $color-light;
$navbar-sub-text-color  : $color-darkest;
$navbar-sub-link-active : $color-dark;
$navbar-sub-link-hover  : $color-darkest;

