/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
codekit-config.json
/nbproject/
composer.lock
src/Wer/ImportBundle/Resources/files/guide/guide_files*
web/assets/files/guide*
web/assets/files/guide/*
composer.json
