codekit-config.json
composer.json
composer.lock
LICENSE
README.md
UPGRADE-2.2.md
UPGRADE.md
/web/bundles/
/app/AppCache.php
/app/AppKernel.php
/app/SymfonyRequirements.php
/app/autoload.php
/app/check.php
/app/console
/app/phpunit.xml
/app/phpunit.xml.dist
/app/bootstrap*
/app/cache/*
/app/config/config.yml
/app/config/config_dev.yml
/app/config/config_prod.yml
/app/config/config_test.yml
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/logs/*
/bin/*
/nbproject/
/src/Wer/ImportBundle/Resources/files/guide/guide_files*
/vendor/
/web/app.php
/web/app_dev.php
/web/config.php
/web/assets/files/guide*
/web/assets/files/guide/*
