<input type="hidden" name="tolken" value="{{ tolken }}" />
<input type="hidden" name="form_ts" value="{{ form_ts }}" />
<label for="hobbit" class="hobbit">Humans don't enter anything here: <input type="text" name="hobbit" id="hobbit" value="" size="2" maxlength="2" class="hobbit" /></label>
