        <div class="row">
            <form action="{{ public_dir }}/manager/" method="post" id="login-form" class="form-horizontal">
                <div class="form-group">
                    <label for="login_id" class="col-sm-2 aright">Your Login ID: </label>
                    <div class="col-sm-10 aleft">
                        <input type="text" id="login_id" name="login_id" class="form-control colorful" maxlength="64" width="32" value="{{ login_id }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 aright">Your Password: </label>
                    <div class="col-sm-10 aleft">
                        <input type="text" id="password" name="password" class="form-control colorful" maxlength="64" width="32" value="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 offset-sm-2">
                        <input type="hidden" id="tolken" name="tolken" value="{{ tolken }}">
                        <input type="hidden" id="form_ts" name="form_ts" value="{{ form_ts }}">
                        <input type="text" id="hobbit" name="hobbit" value="" class="hobbit">
                        <button type="submit" name="submit" value="verifyLogin" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </form>
        </div>
