<button type="submit" name="submit" value="save_new" class="btn {{ btn_primary }} {{ btn_size }}">New</button>
<input type="hidden" name="tolken" value="{{ tolken }}" />
<input type="hidden" name="form_ts" value="{{ form_ts }}" />
<label for="hobbit" class="hobbit">Humans don't fill this in
    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
</label>
