/*! Variable overrides */
$default-body-font-size : 16px !default;
$default-radius :         .25rem !default;
$default-h1 :             2rem !default;
$default-sans :           "VeraSans", -apple-system, system-ui, BlinkMacSystemFont, Verdana, Helvetica, sans-serif !default;
$default-sans-bold :      "VeraSansBold", sans-serif !default;
$default-serif :          "VeraSerif", Georgia, "Times New Roman", Times, serif !default;
$default-serif-bold :     "VeraSerifBold", serif !default;
$default-mono :           "VeraMono", SFMono-Regular, Menlo, Monoco, Consolas, "Courier New", monospace !default;

$gradient-direction : 180deg !default;
$gradient-longpoint:  65% !default;
$gradient-midpoint :  50% !default;
$gradient-shortpoint: 35% !default;

/*! Bulma Variable overrides (if want to change) */
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;                       // Bulma default 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;                   // Bulma default 769px;
$desktop: 960px + (2 * $gap) !default;     // Bulma default 960px + (2 * $gap)
$widescreen: 1152px + (2 * $gap) !default; // Bulma default 1152px + (2 * $gap)
$widescreen-enabled: true !default;        // Bulma default true
$fullhd: 1344px + (2 * $gap) !default;     // Bulma default 1344px + (2 * $gap)
$fullhd-enabled: true !default;            // Bulma default true

