{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block debug %}
    {% if use_debug %}
        {% if debug_text %}
            <div class="container">
                <code class="pre">
                    {{ debug_text }}
                </code>
            </div>
        {% endif %}
        <p class="font-tiny">Library Base Bootstrap Tpl</p>
    {% endif %}
{% endblock %}
