{% block start %}<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="{{ charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <base href="{{ base_url }}">
{% endblock %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block description %}
    <meta name="description" content="{{ description }}">
{% endblock %}
{% block meta %}{% endblock %}
{% set fav = 'far' %}
{% set falv = 'fal' %}
{% block vendorStylesheets %}
    <!-- f2e8c415b2 is webfont based fontawesome use one or the other -->
    <!-- script src="https://kit.fontawesome.com/f2e8c415b2.js" crossorigin="anonymous"></script -->
    <!-- bdf1796175 is svg based fontawesome use one or the other -->
    <script src="https://kit.fontawesome.com/bdf1796175.js" crossorigin="anonymous"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ css_dir }}/ritc_library.css" media="screen">
{% endblock %}
{% block icons %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ images_dir }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ images_dir }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ images_dir }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ images_dir }}/manifest.json">
    <link rel="mask-icon" href="{{ images_dir }}/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ images_dir }}/favicon.ico">
    <meta name="msapplication-config" content="{{ images_dir }}/browserconfig.xml">
{% endblock %}
{% block vendorJs %}
{% endblock %}
{% block headJs %}{% endblock %}
{% block headExtra %}{% endblock %}
{% block endHead %}
</head>
{% endblock %}
{% block bodyStart %}
<body>
{% endblock %}
{% block header %}
    {% block navbar %}
        {% if mainNavName is empty %}
            {% set mainNavName = 'mainNav' %}
        {% endif %}
        {{ include(lib_snippets ~ 'navbar.twig') }}
    {% endblock navbar %}
    {% block headerContent %}{{ include(lib_snippets ~ 'header.twig') }}{% endblock headerContent %}
    {% block otherHeader %}{% endblock %}
    {% block search %}{% endblock %}
{% endblock header %}
{% block bodyContainer %}
    <div class="container-fluid container-body">
{% endblock bodyContainer %}
{% block bodyTitle %}
{% if body_title or title %}    <div class="container container-title">
    {% if body_title %}<h1>{{ body_title }}</h1>
    {% elseif title %}<h1>{{ title }}</h1>
    {% endif %}</div>
{% endif %}
{% endblock bodyTitle %}
{% block message %}
    {% if a_message.message %}
        <div class="container container-message">
            {{ include(lib_snippets ~ 'message.twig') }}
        </div>
    {% endif %}
{% endblock message %}
{% block body %}
        <div class="container container-main">
            {% if a_content.body.c_content %}
                {% set contentValues = {
                    'ctype': a_content.body.c_type,
                    'content': a_content.body.c_content
                    }
                %}
                {{ include(lib_snippets ~ 'by_content_type.twig', contentValues, with_context = false) }}
            {% endif %}
        </div>
{% endblock body %}
{% block bodyContainerEnd %}
    </div>
{% endblock bodyContainerEnd %}
{% block footer %}
    <footer class="container-fluid container-footer">
        <div class="container bg-transparent margin-tb-0">
        {{ include(lib_snippets ~ 'footer.twig') }}
        {{ include(lib_snippets ~ 'footer_columns.twig') }}
            <p class="font-small mb-0">Copyright &copy;&nbsp;{{ copyright_date }} <strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved</p>
        </div>
    </footer>
{% endblock footer %}
{% block debug %}
    {% if use_debug %}
        {% if debug_text %}
<div class="container">
    <code class="pre">
        {{ debug_text }}
    </code>
</div>
        {% endif %}
<p class="font-tiny">Library Base Tpl</p>
    {% endif %}
{% endblock %}
{% block bottomVendorJs %}
    <script src="{{ public_vendor }}/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block bottomJs %}{% endblock %}
{% block finally %}
</body>
</html>
{% endblock %}
{# Blocks
    start,
    title,
    description,
    meta,
    vendorStylesheets,
    stylesheets,
    icons,
    vendorJs
    HeadJs
    headExtra
    bodyStart
    header
    navbar
    headerContent
    otherHeader
    search
    bodyContainer
    bodyTitle
    message
    body
    bodyContainerEnd
    footer
    debug
    bottomVendorJs
    bottomJs
    finally
#}
{# possible keys in array [
    'lang',
    'charset',
    'base_url',
    'title',
    'description',
    'page_url',
    'public_dir',
    'css_dir',
    'fonts_dir',
    'images_dir',
    'js_dir',
    'public_vendor',
    'mainNavName',
    'a_message',
    'page_prefix',
    'a_menus',
    'body_title',
    'body_text',
    'a_content',
    'copyright_date',
    'site_url',
    'rights_holder',
    'use_debug',
    'debug_text'
    ]
#}
