/*! lib/defaults/btn */
/* possibly depreciated in favor of mixin createBtn and createBtnOutline */
@use "../colors" as c;
@use "../mixins" as m;

.btn-custom {
    display: inline-block;
    zoom: 1;
    /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px / 100% Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    &:hover {
        text-decoration: none;
    }
    &:active {
        position: relative;
        top: 1px;
    }
    &.bigrounded {
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
    &.medium {
        font-size: 12px;
        padding: .4em 1.5em .42em;
    }
    &.small {
        font-size: 11px;
        padding: .2em 1em .275em;
    }
}
.btn-black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
    background: -moz-linear-gradient(top, #666666, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
    &:hover {
        background: #000;
        background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
        background: -moz-linear-gradient(top, #444444, black);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
    }
    &:active {
        color: #666;
        background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
        background: -moz-linear-gradient(top, black, #444444);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
    }
}
.btn-gray {
    color: c.$dc-gray90;
    border: solid 1px c.$dc-gray35;
    @include m.dm-linearGradient(c.$dc-gray60, c.$dc-gray35);
    &:hover {
        @include m.dm-linearGradient(c.$dc-gray50, c.$dc-gray25);
    }
    &:active {
        @include m.dm-linearGradient(c.$dc-gray25, c.$dc-gray50);
    }
}
.btn-white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background: -moz-linear-gradient(top, white, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    &:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
        background: -moz-linear-gradient(top, white, gainsboro);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
    }
    &:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
        background: -moz-linear-gradient(top, #ededed, white);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    }
}
.btn-orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    &:hover {
        background: #f47c20;
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-linear-gradient(top, #f88e11, #f06015);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    }
    &:active {
        color: #fcd3a5;
        background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
        background: -moz-linear-gradient(top, #f47a20, #faa51a);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
    }
}
.btn-red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
    &:hover {
        background: #b61318;
        background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
        background: -moz-linear-gradient(top, #c9151b, #a11115);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
    }
    &:active {
        color: #de898c;
        background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
        background: -moz-linear-gradient(top, #aa1317, #ed1c24);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
    }
}
.btn-blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    &:hover {
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
        background: -moz-linear-gradient(top, #0095cc, #00678e);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
    }
    &:active {
        color: #80bed6;
        background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
        background: -moz-linear-gradient(top, #0078a5, #00adee);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
    }
}
.btn-rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
    &:hover {
        background: #ba4b58;
        background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
        background: -moz-linear-gradient(top, #cf5d6a, #a53845);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
    }
    &:active {
        color: #dca4ab;
        background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
        background: -moz-linear-gradient(top, #bf404f, #f16c7c);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
    }
}
.btn-green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    &:hover {
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top, #6b9d28, #436b0c);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
    }
    &:active {
        color: #a9c08c;
        background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
        background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
    }
}
.btn-pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top, #feb1d3, #f171ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
    &:hover {
        background: #d57ea5;
        background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
        background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
    }
    &:active {
        color: #f3c3d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
        background: -moz-linear-gradient(top, #f171ab, #feb1d3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
    }
}

