/*! lib/defaults/colors
  Color variables - if intended to override any bootstrap/bulma variables,
  must be included before
**/
@use "sass:color";

/* True overrides */
$blue:                   #007bff !default;
$indigo:                 #6610f2 !default;
$purple:                 #7b00c1 !default;
$pink:                   #ff69b4 !default;
$red:                    #c00 !default;
$orange:                 #ffa500 !default;
$yellow:                 #ff0 !default;
$green:                  #006400 !default;
$teal:                   #008080 !default;
$cyan:                   #17a2b8 !default;
/* Original Bootstrap colors */
$blue-bs4:               #007bff;
$indigo-bs4:             #6610f2;
$purple-bs4:             #6f42c1;
$pink-bs4:               #e83e8c;
$red-bs4:                #dc3545;
$orange-bs4:             #fd7e14;
$yellow-bs4:             #ffc107;
$green-bs4:              #28a745;
$teal-bs4:               #20c997;
$cyan-bs4:               #17a2b8;

$orange-bul:             hsl(14, 100%, 53%);
$yellow-bul:             hsl(48, 100%, 67%);
$green-bul:              hsl(141, 71%, 48%);
$turquoise-bul:          hsl(171, 100%, 41%);
$cyan-bul:               hsl(204, 86%, 53%);
$blue-bul:               hsl(217, 71%, 53%);
$purple-bul:             hsl(271, 100%, 71%);
$red-bul:                hsl(348, 100%, 61%);

/* alts to bs4 */
$black-color:            #000 !default;
$blue-color:             #006 !default;
$brown-color:            #68472e !default;
$cyan-color:             #17a2b8 !default;
$gray-color:             #808080 !default; // also gray50 - gray-medium
$green-color:            #006400 !default;
$magenta-color:          #f0f !default;
$orange-color:           #ffa500 !default;
$pink-color:             #ff69b4 !default;
$purple-color:           #7b00c1 !default;
$red-color:              #a00 !default;
$teal-color:             #008080 !default;
$violet-color:           #6d52ab !default;
$white-color:            #fff !default;
$yellow-color:           #ff0 !default;

$blue-pure:              #00f !default;
$blue-darkest:           #193869 !default;
$blue-darker:            #244f9b !default;
$blue-dark:              #2e66cd !default;
$blue-med-dark:          #3882ff !default;
$blue-medium:            #80aaff !default;
$blue-med-light:         #96c4ff !default;
$blue-light:             #abd7ff !default;
$blue-lighter:           #c3ddff !default;
$blue-lightest:          #d2e0ff !default;
$blue-complement:        #751f10 !default;
$blue-alt-darkest:       #003 !default;
$blue-alt-darker:        #006 !default;
$blue-alt-dark:          #009 !default;
$blue-alt-med-dark:      #00c !default;
$blue-alt-medium:        #3f3fff !default;
$blue-alt-med-light:     #007bff !default;
$blue-alt-light:         #7fffff !default;
$blue-alt-lighter:       #c1fffd !default;
$blue-alt-xlight:        #e5ffff !default;
$blue-alt-lightest:      #e9ffff !default;
$blue-alt-complement:    #9fc8e6 !default;

$gray20:                 #333 !default;
$gray25:                 #404040 !default;
$gray35:                 #595959 !default;
$gray40:          #666 !default;
$gray50:          #808080 !default;
$gray60:          #999 !default;
$gray65:          #a6a6a6 !default;
$gray75:          #bfbfbf !default;
$gray80:          #ccc !default;
$gray90:          #e6e6e6 !default;
$gray95:          #f2f2f2 !default;

$gray-darkest:    #262d35 !default;
$gray-darker:     #2e3338 !default;
$gray-dark:       #343a40 !default;
$gray-med-dark:   #495057 !default;
$gray-medium:     $gray-color !default;
$gray-med-light:  #ced4da !default;
$gray-light:      #dee2e6 !default;
$gray-lighter:    #e7ebef !default;
$gray-xlight:     #e9ecef !default;
$gray-lightest:   $gray-xlight !default;
$gray-barely:     #f8f9fa !default;
$gray-complement: #276998 !default;

$grey:                   $gray-color !default;
$grey-lightest:          $gray-barely !default;
$grey-lighter:           color.scale($grey-lightest, $lightness: -10%) !default;
$grey-light:             color.scale($grey-lighter, $lightness: -10%) !default;
$grey-med-light:         color.scale($grey-light, $lightness: -10%) !default;
$grey-medium:            color.scale($grey-med-light, $lightness: -10%) !default;
$grey-med-dark:          color.scale($grey-medium, $lightness: -10%) !default;
$grey-dark:              color.scale($grey-med-dark, $lightness: -10%) !default;
$grey-darker:            color.scale($grey-dark, $lightness: -10%) !default;
$grey-darkest:           color.scale($grey-darker, $lightness: -10%) !default;

$slate-darkest:          #132828 !default;
$slate-darker:           #1b3737 !default;
$slate-dark:             #2f4f4f !default;
$slate-med-dark:         #485f60 !default;
$slate-medium:           #557172 !default;
$slate-med-light:        #6f9293 !default;
$slate-light:            #94bebe !default;
$slate-lighter:          #a5d3d3 !default;
$slate-lightest:         #b7e8e8 !default;
$slate-xlight:           #cdf6f6 !default;
$slate-complement:       #276998 !default;
$slate-color:            $slate-medium !default;

$brown-darkest:          #2d1616 !default;
$brown-darker:           #503027 !default;
$brown-dark:             $brown-color !default;
$brown-medium:           #8b4513 !default;
$brown-light:            #cc9166 !default;
$brown-lighter:          #dca176 !default;
$brown-lightest:         #ffd7bb !default;
$brown-xlight:           #ffd7bb !default; // legacy name
$brown-complement:       #13598b !default;

$gunmetal-dark:          #2c3539 !default;
$gunmetal-medium:        #576870 !default;
$gunmetal-light:         #829ca8 !default;
$gunmetal-xlight:        #94b2bf !default;
$gunmetal-lightest:      #94b2bf !default;
$gunmetal-complement:    #382f2b !default;

$green-darkest:          #030 !default;
$green-darker:           #004000 !default;
$green-dark:             #005100 !default;
$green-med-dark:         #006400 !default;
$green-medium:           #008000 !default;
$green-med-light:        #28a745 !default;
$green-light:            #9afa9c !default;
$green-lighter:          #cfc !default;
$green-xlight:           #e9ffe9 !default; // legacy name
$green-lightest:         #e9ffe9 !default;
$lime:                   #0f0 !default;
$mint:                   #f5fffa !default;
$forest-green:           #228b22 !default;
$green-complement:       #640032 !default;

$red-dark:               #760000 !default;
$red-medium:             #f00 !default;
$red-light:              #fcc !default;
$red-lightest:           #ffecec !default;
$red-xlight:             #ffecec !default;

$orange-darker:          #e34234 !default;
$orange-dark:            #fc4a1a !default;
$orange-pantone:         #ff5800 !default;
$orange-medium:          #fd7e14 !default;
$orange-med-light:       #ffa500 !default;
$orange-light:           #f7b733 !default;
$orange-lightest:        #ffefd5 !default;
$orange-xlight:          #ffefd5 !default;
$pumpkin:                #ff7518 !default;

$yellow-darkest:         #daa520 !default;
$yellow-dark:            #ffc107 !default;
$yellow-medium:          $yellow !default;
$yellow-light:           #ffffc2 !default;
$yellow-lightest:        #ffffe0 !default;
$yellow-xlight:          #ffffe0 !default;

/* Whites */
$white:                  $white-color;
$off-white-color:        #f5f5f5;
$ivory:                  #fffff0;
$seashell:               #fff5ee;
$snow:                   #fffafa;
$black:                  $black-color; // absence of white?

$color-black:            $black-color !default;
$color-blue:             $blue-color !default;
$color-gray:             $gray-color !default;
$color-gray-trans:       transparentize($gray90, .35) !default;
$color-green:            $green-color !default;
$color-magenta:          $magenta-color !default;
$color-off-white:        $off-white-color !default;
$color-orange:           $orange-color !default;
$color-pink:             $pink-color !default;
$color-purple:           $purple-color !default;
$color-red:              $red-color !default;
$color-slate:            $slate-color !default;
$color-teal:             $teal-color !default;
$color-violet:           $violet-color !default;
$color-white:            $white-color !default;
$color-yellow:           $yellow-color !default;

/* More Boostrap Pure Overrides for semantic colors */
$primary:                $blue !default;
$secondary:              $gray-color !default;
$success:                $green !default;
$info:                   $cyan !default;
$warning:                $orange !default;
$danger:                 $red !default;
$light:                  $grey-lightest !default;
$dark:                   $gray-dark !default;

/* Contrast colors - idea from Bootstrap */
$contrast-threshold:     150 !default;
$contrast-dark:          $color-black !default;
$contrast-light:         $color-white !default;
