/*! lib/defaults/form
    Some general Form styling
 */
@use "../variables" as v;
@use "../colors" as c;
@use "../mixins" as m;

input, textarea {
  &.colorful {
    @include m.dm-makeColorful(true);
  }
  &.colorful:focus {
    @include m.dm-makeColorfulFocused(true);
  }
  &.flexible {
    width: 95%;
  }
}

select {
  margin-top: .25rem;
  &.colorful {
    @include m.dm-makeColorful(true);
  }
  &.colorful:focus {
    @include m.dm-makeColorfulFocused(true);
  }
}

textarea {
  &.colorful {
    height: 6rem !important;
    &.colorful-tall {
      height: 12rem !important;
    }
  }
}

.form-inline {
  &.dark-row {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-med-light);
  }
  &.light-row {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-barely);
  }
  &.even {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-med-light);
  }
  &.odd {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-barely);
  }
}

.colorful-checkbox {
  width: 15px;
  margin: 0;
  position: relative;
  input[type=checkbox] {
    visibility: hidden;
  }
  input[type=checkbox]:checked + label {
    background: c.$dc-blue-lightest;
  }
  input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
  label {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background: c.$dc-white-color;
    border: 1px solid c.$dc-blue-dark;
    border-radius: 3px;
    box-shadow: 1px 1px 1px c.$tc-color-shadow;
  }
  label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 3px solid c.$dc-blue-dark;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }
  label:hover::after {
    opacity: 0.5;
  }
  span {
    position: absolute;
    top: -5px;
    left: 20px;
    @include m.dm-fontBold();
  }
}

input[type=checkbox] {
  &.padded {
    margin-right: .5rem;
  }
}

label {
  &.error {
    color: c.$dc-color-red;
    @include m.dm-fontBoldItalic;
  }
  &.nice-label {
    @include m.dm-fontBold;
    text-align: right;
  }
  &.col-form-label {
    @include m.dm-fontBold;
    @include m.dm-paddingSize(.5, 'top', 'true');
  }
}

.nice-fieldset {
  @include m.dm-fancyFieldset;
  legend {
    float: left;
    font-size: 1rem;
    @include m.dm-fontSmallCapsBold;
    &.big-legend {
      font-size: 1.5rem;
      color: c.$dc-gray-dark;
      background-color: c.$dc-gray90;
      border-radius: v.$dv-default-radius;
      padding-left: 1rem;
    }
  }
  &.search-for {
    padding: .5rem;
    input[type=text] {
      width: 70%;
      margin-right: 1rem;
    }
  }
  div {
    &.form-group {
      margin-left: .75rem;
      margin-right: .75rem;
    }
  }
}

.psuedo-label {
  @include m.dm-fontBold;
  text-align: right;
  padding-right: 1rem;
}

.checkbox-label {
  display: inline-block;
  width: 33%;
  font-weight: 900;
}

.btn {
  &.push-right-1 {
    margin-left: 1rem;
  }
  &.push-right-2 {
    margin-left: 2rem;
  }
  &.push-left-1 {
    margin-right: 1rem;
  }
  &.push-left-2 {
    margin-right: 2rem;
  }
}

.btn-green {
  @include m.dm-createBtn(c.$dc-green-bs4, c.$dc-green-bs4);
}

.btn-dark-green {
  @include m.dm-createBtn(c.$dc-green, c.$dc-green);
}

.btn-blue {
  @include m.dm-createBtn(c.$dc-blue, c.$dc-blue);
}

.btn-red {
  @include m.dm-createBtn(c.$dc-red, c.$dc-red);
}

.btn-white {
  @include m.dm-createBtn(c.$dc-white, c.$dc-white);
}

.btn-black {
  @include m.dm-createBtn(c.$dc-black, c.$dc-black);
}

.btn-gray {
  @include m.dm-createBtn(c.$dc-gray60, c.$dc-gray60);
}

.btn-brown {
  @include m.dm-createBtn(c.$dc-brown-medium, c.$dc-brown-medium);
}

.btn-orange {
  @include m.dm-createBtn(c.$dc-orange, c.$dc-orange);
}

.btn-purple {
  @include m.dm-createBtn(c.$dc-purple, c.$dc-purple);
}

.btn-outline-green {
  @include m.dm-createBtnOutline(c.$dc-green);
}

.btn-outline-blue {
  @include m.dm-createBtnOutline(c.$dc-blue);
}

.btn-outline-red {
  @include m.dm-createBtnOutline(c.$dc-red);
}

.btn-outline-white {
  @include m.dm-createBtnOutline(c.$dc-white, c.$dc-black);
}

.btn-outline-black {
  @include m.dm-createBtnOutline(c.$dc-black);
}

.btn-outline-gray {
  @include m.dm-createBtnOutline(c.$dc-gray60);
}

.btn-outline-brown {
  @include m.dm-createBtnOutline(c.$dc-brown-medium);
}

.btn-outline-orange {
  @include m.dm-createBtnOutline(c.$dc-orange);
}

.btn-outline-purple {
  @include m.dm-createBtnOutline(c.$dc-purple);
}

.datepicker {
  display: inline-block;
  width: 50%;
}

form {
  label, input[type=text] {
    &.hobbit {
      display: none;
    }
  }
  .form-group-row {
    margin-bottom: 0 !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
  }
  .form-group {
    &.row-dark {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-med-light);
    }
    &.row-darker {
      @include m.dm-colorRow(c.$dc-gray-barely, c.$dc-gray-color);
    }
    &.row-darkest {
      @include m.dm-colorRow(c.$dc-gray-lightest, c.$dc-gray-dark);
    }
    &.row-light {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-barely);
    }
    &.row-medium {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-light);
    }
    &.row-med-light {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-lightest);
    }
    &.row-transparent {
      @include m.dm-colorRow(c.$dc-gray-darkest, transparent);
    }
  }
}
