/*! lib/defaults/functions */
// in mixins so only needed if used where mixins isn't
@use "sass:color";
@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "../colors" as c;
@use "linear_channel_values" as lcv;
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function is-direction($value) {
    $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
    @return $is-keyword or $is-angle;
}

@function strReplace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + strReplace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function isDirection($value) {
    $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
    @return $is-keyword or $is-angle;
}

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
@function luminance($color) {
    $red: nth(lcv.$linear-channel-values, red($color) + 1);
    $green: nth(lcv.$linear-channel-values, green($color) + 1);
    $blue: nth(lcv.$linear-channel-values, blue($color) + 1);
    @return .2126 * $red + .7152 * $green + .0722 * $blue;
}

/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
@function contrast($back, $front) {
    $backlum: luminance($back) + .05;
    $forelum: luminance($front) + .05;
    @return math.div(math.max($backlum, $forelum), math.min($backlum, $forelum));
}

/**
 * Determine whether to use dark or light text on top of given color.
 */
@function chooseContrastColor($color) {
    $lightContrast: contrast($color, c.$dc-contrast-light);
    $darkContrast: contrast($color, c.$dc-contrast-dark);

    @if ($lightContrast > $darkContrast) {
        @return c.$dc-contrast-light;
    }
    @else {
        @return c.$dc-contrast-dark;
    }
}