/*! lib/defaults/library */
@use 'mixins';

.instructions {
  @include mixins.contentBlock('gray');
  ul {
    list-style : disc;
    li {
      ul {
        list-style  : square;
        margin-left : -1rem;
      }
    }
  }

  ul li::before {
    content : "\200B";
  }
}
