/*! lib/defaults/main_common */
@use "../variables" as v;
@use "../colors" as c;
@use "../mixins" as m;

$gradient_dir: v.$dv-gradient-direction;

html {
  height: 100%;
}

body {
  height:           100%;
  background-color: c.$tc-color-body;
}

code {
  &.pre {
    font-family: VeraMono, monospace;
    white-space: pre-wrap;
  }
}

hr.item-card {
  margin: .5rem 0;
  width:  50%;
}

.aright {
  text-align: right;
}

.aleft {
  text-align: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.bold {
  font-weight: 700;
}

.xtra-bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.btn-xs {
  padding:       .15rem .75rem;
  font-size:     .85rem;
  line-height:   1.1rem;
  border-radius: .2rem;
}

.btn-xl {
  font-size:   1.25rem;
  line-height: 1.5rem;
}

.btn-2xl, .btn-xxl {
  font-size:   1.5rem;
  line-height: 1.75rem;
}

.btn-xlt {
  font-size:   1.75rem;
  line-height: 2rem;
}

.btn-big {
  font-size:     2.25rem;
  font-weight:   300;
  text-shadow:   1px 1px 1px c.$tc-color-shadow;
  margin-top:    1rem;
  margin-bottom: 1rem;
  width:         100%;
}

.header-small-caps {
  @include m.dm-fontSmallCapsExtraBold;
}

.header-sans, .font-sans {
  font-family: VeraSansBold, sans-serif;
}

.hobbit {
  display: none;
}

.font-huge {
  font-size: 2rem;
}

.font-large {
  font-size: 1.5rem;
}

.font-larger {
  font-size: 1.25rem;
}

.font-smaller {
  font-size: .85rem;
}

.font-small {
  font-size: .75rem;
}

.font-tiny {
  font-size: .5rem;
}

.font-small-caps {
  @include m.dm-fontSmallCaps;
}

.font-small-caps-bold {
  @include m.dm-fontSmallCapsBold;
}

.container {
  background-color: c.$tc-color-container;
  margin-bottom:    2rem;
  margin-top:       1rem;

  &.container-body {
    // placeholder
  }

  &.container-footer {
    @include m.dm-contentBlock('footer');
    @include m.dm-linearGradientTwoColor(c.$tc-gradient-stop, c.$tc-gradient-start, v.$dv-gradient-direction, v.$dv-gradient-midpoint);
  }

  &.container-gradient-down {
    @include m.dm-linearGradientTwoColor(c.$tc-gradient-start, c.$tc-gradient-stop, v.$dv-gradient-direction, v.$dv-gradient-midpoint)
  }

  &.container-gradient-up {
    @include m.dm-linearGradientTwoColor(c.$tc-gradient-start, c.$tc-gradient-stop, -$gradient_dir, v.$dv-gradient-midpoint)
  }

  &.container-header {
    @include m.dm-contentBlock('header');
  }

  &.container-main {
    margin-top:     0;
    margin-bottom:  0;
    padding-bottom: 1rem;
  }

  &.container-message {
    margin-top:    .5rem;
    margin-bottom: .5rem;
    padding:       0;
  }

  &.container-nav {
    background-color: transparent;
    margin-top:       0;
    margin-bottom:    0;
  }

  &.container-title {
    margin-top:     0;
    margin-bottom:  0;
    padding-top:    1rem;
    padding-bottom: 1rem;
  }

  .row-fluid {
    [class*="span"] {
      background-color: c.$tc-color-body;
      border:           1px solid c.$tc-color-border;
      border-radius:    10px;
      margin-bottom:    1rem;
      padding:          1rem 2rem;
    }

    .no-box {
      background-color: inherit;
      border:           0;
      padding:          0;
      margin:           0 0 1rem 0;

      div.no-box {
        margin-right: 1rem;
      }
    }

    div {
      &.item-card {
        a.item-link {
          font-size:   1.2rem;
          font-weight: 900;
        }
      }
    }
  }

  .row {
    background-color: c.$tc-color-body;
    padding-left:     1rem;
    padding-right:    1rem;

    [class*="col"] {
      background-color: c.$tc-color-body;
      border:           0;
      border-radius:    0;
      padding:          0 .25rem;
      margin-top:       .25rem;
      margin-bottom:    .25rem;

      &.border-left-1 {
        border-left: black 1px solid;
      }

      &.border-right-1 {
        border-right: black 1px solid;
      }

      &.border-top-1 {
        border-top: black 1px solid;
      }

      &.border-bottom-1 {
        border-bottom: black 1px solid;
      }
    }

    &.boxed {
      [class*="col"] {
        background-color: c.$tc-color-body;
        border:           1px solid c.$tc-color-border;
        border-radius:    .25rem;
        margin-bottom:    1rem;
        padding:          .25rem;
      }
    }

    &.no-box {
      [class*="col"] {
        background-color: c.$tc-color-body;
        border:           0;
        margin-bottom:    1rem;
        padding:          .25rem;

        &.no-space {
          margin:  0;
          padding: 0;
        }
      }
    }

    &.row-black {
      @include m.dm-colorRow(c.$dc-gray-barely, c.$dc-black-color);
    }

    &.row-blue {
      @include m.dm-colorRow(c.$dc-blue-lightest, c.$dc-blue-medium);
    }

    &.row-blue-dark {
      @include m.dm-colorRow(c.$dc-blue-lightest, c.$dc-blue-color);
    }

    &.row-blue-light {
      @include m.dm-colorRow(c.$dc-blue-dark, c.$dc-blue-lightest);
    }

    &.row-dark {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-med-light);
    }

    &.row-darker {
      @include m.dm-colorRow(c.$dc-gray-barely, c.$dc-gray-color);
    }

    &.row-darkest {
      @include m.dm-colorRow(c.$dc-gray-lightest, c.$dc-gray-dark);
    }

    &.row-green {
      @include m.dm-colorRow(c.$dc-green-lightest, c.$dc-green-med-light);
    }

    &.row-green-dark {
      @include m.dm-colorRow(c.$dc-green-lightest, c.$dc-green-dark);
    }

    &.row-green-light {
      @include m.dm-colorRow(c.$dc-green-darker, c.$dc-green-lighter);
    }

    &.row-light, &.odd, &.odd-inner-odd, &.even-inner-odd {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-barely);
    }

    &.row-medium, &.even, &.even-inner-even {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-light);
    }

    &.row-med-light, &.odd-inner-even {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-lightest);
    }

    &.row-white {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-white-color);
    }

    &.upper {
      border-radius: 0 2rem 0 0;
      padding-top:   1rem;
    }

    &.lower {
      border-radius: 0 0 2rem 0;
    }

    &.row-inside {
      padding-left:  0;
      padding-right: 0;
    }
  }
}

.container-fluid {
  &.container-footer {
    @include m.dm-contentBlock('footer');
    @include m.dm-linearGradientTwoColor(c.$tc-gradient-stop, c.$tc-gradient-start, v.$dv-gradient-direction, v.$dv-gradient-shortpoint);
  }

  &.container-gradient-down {
    @include m.dm-linearGradientTwoColor(c.$tc-gradient-start, c.$tc-gradient-stop, v.$dv-gradient-direction, v.$dv-gradient-midpoint)
  }

  &.container-gradient-up {
    @include m.dm-linearGradientTwoColor(c.$tc-gradient-start, c.$tc-gradient-stop, -$gradient_dir, v.$dv-gradient-midpoint)
  }

  &.container-header {
    @include m.dm-contentBlock('header');
  }

  &.container-body {
    background-color: c.$tc-gradient-stop;
    padding:          0 !important;
  }
}

.bordered-rounded, .bordered {
  border:         1px solid c.$tc-color-border;
  padding-top:    .5rem;
  padding-bottom: .5rem;
  border-radius:  .25rem;
}

.bordered-square {
  border: 1px solid c.$tc-color-border;
}

.shadowed {
  box-shadow: 0.15rem 0.15rem 0.15rem c.$tc-color-shadow;
}

.white {
  color: c.$dc-white-color;
}

.black {
  color: c.$dc-black-color;
}

.red {
  color: c.$dc-red-color;
}

.orange {
  color: c.$dc-orange-color;
}

.yellow {
  color: c.$dc-yellow-color;
}

.green {
  color: c.$dc-green-color;
}

.blue {
  color: c.$dc-blue-color;
}

.teal {
  color: c.$dc-teal-color;
}

.pink {
  color: c.$dc-pink-color;
}

.purple {
  color: c.$dc-purple-color;
}

.dark-grey {
  color: c.$dc-gunmetal-dark;
}

.slate {
  color: c.$dc-slate-medium;
}

.grey-lightest {
  color: c.$dc-grey-lightest;
}

.grey-lighter {
  color: c.$dc-grey-lighter;
}

.grey-light {
  color: c.$dc-grey-light;
}

.grey-med-light {
  color: c.$dc-grey-med-light;
}

.grey-medium {
  color: c.$dc-grey-medium;
}

.grey-med-dark {
  color: c.$dc-grey-med-dark;
}

.grey-dark {
  color: c.$dc-grey-dark;
}

.grey-darker {
  color: c.$dc-grey-darker;
}

.grey-darkest {
  color: c.$dc-grey-darkest;
}

.bg-white {
  background-color: c.$dc-white-color;
}

.bg-black {
  background-color: c.$dc-black-color;
}

.bg-red {
  background-color: c.$dc-red-color;
}

.bg-orange {
  background-color: c.$dc-orange-color;
}

.bg-yellow {
  background-color: c.$dc-yellow-color;
}

.bg-green {
  background-color: c.$dc-green-color;
}

.bg-blue {
  background-color: c.$dc-blue-color;
}

.bg-teal {
  background-color: c.$dc-teal-color;
}

.bg-pink {
  background-color: c.$dc-pink-color;
}

.bg-purple {
  background-color: c.$dc-purple-color;
}

.bg-dark-grey {
  background-color: c.$dc-gunmetal-dark;
}

.bg-slate {
  background-color: c.$dc-slate-medium;
}

.bg-grey-lightest {
  background-color: c.$dc-grey-lightest;
}

.bg-grey-lighter {
  background-color: c.$dc-grey-lighter;
}

.bg-grey-light {
  background-color: c.$dc-grey-light;
}

.bg-grey-med-light {
  background-color: c.$dc-grey-med-light;
}

.bg-grey-medium {
  background-color: c.$dc-grey-medium;
}

.bg-grey-med-dark {
  background-color: c.$dc-grey-med-dark;
}

.bg-grey-dark {
  background-color: c.$dc-grey-dark;
}

.bg-grey-darker {
  background-color: c.$dc-grey-darker;
}

.bg-grey-darkest {
  background-color: c.$dc-grey-darkest;
}

.bg-transparent {
  background-color: transparent;
}

.border-radius-top-right {
  border-top-right-radius: v.$dv-default-radius;
}

.border-radius-bottom-right {
  border-bottom-right-radius: v.$dv-default-radius;
}

.border-radius-top-left {
  border-top-left-radius: v.$dv-default-radius;
}

.border-radius-bottom-left {
  border-bottom-left-radius: v.$dv-default-radius;
}

.border-radius-left {
  border-top-left-radius:    v.$dv-default-radius;
  border-bottom-left-radius: v.$dv-default-radius;
}

.border-radius-right {
  border-top-right-radius:    v.$dv-default-radius;
  border-bottom-right-radius: v.$dv-default-radius;
}

.border-radius-top {
  border-top-left-radius:  v.$dv-default-radius;
  border-top-right-radius: v.$dv-default-radius;
}

.border-radius-bottom {
  border-bottom-left-radius:  v.$dv-default-radius;
  border-bottom-right-radius: v.$dv-default-radius;
}

.clean-ul {
  @include m.dm-listStyleNone;
}

.list-header {
  @include m.dm-headerRowColors();

  div {
    @include m.dm-headerRowColors();
  }
}

.list-stripped {
  &.odd, &.row-light {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-barely);
  }

  &.even, &.row-dark {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-med-light);;
  }

  &.row-med {
    @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-light)
  }

  a {
    display:      inline-block;
    width:        100%;
    padding:      .25rem .25rem .25rem .5rem;

    &.odd {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-barely);
    }

    &.even {
      @include m.dm-colorRow(c.$dc-gray-darkest, c.$dc-gray-med-light);;

    }
  }
}
