/*! lib/defaults/manager_forms
    Form specific styles
 */
@use "mixins";
#login-form {
  label {
    vertical-align: baseline;
    padding-top: .25rem;
    font-weight: 900;
    text-align: right;
    @include mixins.setMediaSize(sm) {
      text-align: left;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}

