/*! lib/defaults/media_queries */
/* Idea is to have media queries break where it looks good, not on device size = based on Bootstrap 4 */
@media screen and (min-width: 0) {
}
@media screen and (min-width: 544px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
