/*! lib/defaults/message */
@use "../variables" as v;
@use "../mixins" as m;
@use "../colors" as c;

.message {
    &.success {
        @include m.dm-messageColors(c.$dc-green-lighter, c.$dc-green-dark, c.$dc-green-color);
    }
    &.info {
        @include m.dm-messageColors(c.$dc-blue-light, c.$dc-blue-dark, c.$dc-blue-color);
    }
    &.warning {
        @include m.dm-messageColors(c.$dc-orange-xlight, c.$dc-orange-darker, c.$dc-orange-medium);
    }
    &.error {
        @include m.dm-messageColors(c.$dc-red-light, c.$dc-red-dark, c.$dc-red-color);
    }
    &.failure {
        @include m.dm-messageColors(c.$dc-red-light, c.$dc-red-dark, c.$dc-red-medium);
    }
    &.code {
        font-family: v.$dv-default-mono;
        @include m.dm-messageColors(c.$tc-color-container, c.$tc-color-border, c.$tc-color-dark);
    }
}