/*! menu bar */
@use "mixins" as m;
@use "colors" as c;
@use "variables" as v;
@use "../../../../../../twbs/bootstrap/variables" as bs-v;

$pagination_border_width: bs-v.$pagination-border-width;

$grid_margin_width: bs-v.$grid-margin-width;
.navbar {
    @include m.paddingSize(.25, 'tb', '');
    &.navbar-color {
        @include m.linearGradientTwoColor(c.$gradient-start, c.$gradient-stop, v.$gradient-direction, v.$gradient-longpoint);
        color: c.$navbar-text-color;
        a {
            &.nav-link {
                @include m.fontSmallCapsBold;
                font-size: 1.25rem;
                color: c.$navbar-text-color;
                &.active {
                    color: c.$navbar-link-active;
                }
            }
        }
        div {
            &.dropdown-menu {
                &.show {
                    background-color: c.$navbar-text-color;
                    a {
                        &.dropdown-item {
                            color: c.$gradient-start;
                            &.active {
                                color: c.$navbar-text-color;
                                background-color: c.$gradient-stop;
                            }
                            &.active:active {
                                color: c.$navbar-text-color;
                                background-color: c.$gradient-stop;
                            }
                            &.active:hover {
                                color: c.$navbar-sub-link-hover;
                                background-color: c.$navbar-sub-bg-hover;
                            }
                        }
                        &.dropdown-item:hover {
                            color: c.$navbar-sub-link-hover;
                            background-color: c.$navbar-sub-bg-hover;
                        }
                    }
                }
            }
        }
        a:hover {
            color: c.$navbar-link-hover;
        }
        li {
            &.show > .nav-link {
                color: c.$navbar-text-color;
            }
            &.nav-item {
                a:hover {
                    color: c.$navbar-link-hover;
                }
            }
        }
    }
    &.no-margin {
        @include m.marginSizePx(-$grid_margin_width, 'lr', 'important');
    }
}

.manager-links {
    @include m.listStyleNone;
    a {
        @include m.fontSmallCapsExtraBold;
    }
    ul {
        @include m.listStyleNone;
        padding-left: 2rem;
    }
}

span.no-link {
    position: relative;
    display: block;
    padding: bs-v.$pagination-padding-y bs-v.$pagination-padding-x;
    margin-left: -$pagination_border_width;
    line-height: bs-v.$pagination-line-height;
    color: c.$green-medium;
    background-color: bs-v.$pagination-bg;
    border: $pagination_border_width solid bs-v.$pagination-border-color;
    &.no-link-sm {
        padding: bs-v.$pagination-padding-y-sm bs-v.$pagination-padding-x-sm;
        font-size: v.$font-size-sm;
        line-height: $line-height-sm;
    }
}
