/*! menu bar */
@use "mixins" as m;
@use "colors" as c;
@use "variables" as v;

$p_border_width    : v.$pagination-border-width;
$p_line_height     : v.$pagination-line-height;
$grid-gutter-width : v.$grid-gutter-width; // seems to be needed to do a negative
$pad-x             : v.$pagination-padding-x;
$pad-x-sm          : v.$pagination-padding-x-sm;
$pad-y             : v.$pagination-padding-y;
$pad-y-sm          : v.$pagination-padding-y-sm;

.navbar {
    @include m.paddingSize(.25, 'tb', '');
    &.navbar-color {
        @include m.linearGradientTwoColor(c.$gradient-start, c.$gradient-stop, v.$gradient-direction, v.$gradient-longpoint);
        color: c.$navbar-text-color;
        a {
            &.nav-link {
                @include m.fontSmallCapsBold;
                font-size: 1.25rem;
                color: c.$navbar-text-color;
                &.active {
                    color: c.$navbar-link-active;
                }
            }
        }
        div {
            &.dropdown-menu {
                &.show {
                    background-color: c.$navbar-text-color;
                    a {
                        &.dropdown-item {
                            color: c.$gradient-start;
                            &.active {
                                color: c.$navbar-text-color;
                                background-color: c.$gradient-stop;
                            }
                            &.active:active {
                                color: c.$navbar-text-color;
                                background-color: c.$gradient-stop;
                            }
                            &.active:hover {
                                color: c.$navbar-sub-link-hover;
                                background-color: c.$navbar-sub-bg-hover;
                            }
                        }
                        &.dropdown-item:hover {
                            color: c.$navbar-sub-link-hover;
                            background-color: c.$navbar-sub-bg-hover;
                        }
                    }
                }
            }
        }
        a:hover {
            color: c.$navbar-link-hover;
        }
        li {
            &.show > .nav-link {
                color: c.$navbar-text-color;
            }
            &.nav-item {
                a:hover {
                    color: c.$navbar-link-hover;
                }
            }
        }
    }
    &.no-margin {
        @include m.marginSizePx(-$grid-gutter-width, 'lr', 'important');
    }
}

.manager-links {
    @include m.listStyleNone;
    a {
        @include m.fontSmallCapsExtraBold;
    }
    ul {
        @include m.listStyleNone;
        padding-left: 2rem;
    }
}

span.no-link {
    position: relative;
    display: block;
    padding: $pad-y $pad-x;
    margin-left: -$p_border_width;
    line-height: $p_line_height;
    color: c.$green-medium;
    background-color: c.$color-body;
    border:  solid c.$border-color;
    &.no-link-sm {
        padding: $pad-y-sm $pad-x-sm;
        font-size: v.$font-size-sm;
        line-height: v.$line-height-sm;
    }
}
