/*! lib/defaults/niceform */
/* A nice form format */
@use "../colors" as c;
ul.niceform {
  font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
  list-style: none;
  margin: 1px 1px 12px;
  padding: 0;
  border: 1px solid c.$dc-blue-medium;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  li {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    min-height: 1.5em;
    div {
      min-height: 1.5em;
      &.aright, &.aleft {
        float: left;
        padding: 3px;
      }
    }
  }
  div.acenter {
    float: left;
    padding: 3px;
  }
  li {
    div {
      &.aright {
        text-align: right;
        padding-right: 6px;
      }
      &.aleft {
        text-align: left;
        padding-left: 6px;
      }
      &.acenter {
        text-align: center;
        padding-left: 6px;
        padding-right: 6px;
      }
      &.bright {
        border-right: 1px solid c.$dc-blue-medium;
      }
    }
    &.row-dark div {
      background-color: c.$dc-gray-xlight;
    }
    &.default-row div {
      background-color: c.$dc-color-white;
    }
    &.skinny {
      min-height: 1em;
      max-height: 1em;
      div {
        min-height: 1em;
        max-height: 1em;
      }
    }
  }
}
