/*! lib/defaults/search */
/* The Alpha List Menu */
@use "../variables" as v;
@use "../colors" as c;

.container {
	div.selections {
		border: 0 !important;
		padding: 0 !important;
		label.selectLabel, label.selectLabel {
		    font-weight: 900;
		    display: inline-block;
		    vertical-align: top;
			margin: 0 .75rem 0 0;
		}
		select {
			height: 2rem;
			line-height: 2rem;
			width: 200px;
			vertical-align: top;
		}
	}
	div.quick-form {
		border: 0 !important;
	    padding: 0 !important;
	    padding-left: 1rem !important;
	    #quick-search {
	    	margin: 0;
		    legend {
		        font-size: 1rem;
		        font-weight: bold;
		        border: 0;
		        line-height: 1.5rem;
		    }
		    input {
		        width: 15rem;
		        margin-top: .5rem;
		        margin-right: 1rem;
		        vertical-align: middle;
		    }
		    button {
		        vertical-align: middle;
		    }
			.help {
				display: none;
			}
		}

	}
	div.alpha {
		margin-left: 0 !important;
		margin-bottom: 0 !important;
		border: 0 !important;
		padding: 0 !important;
		#alphaListMenu {
		    list-style-type: none;
		    margin-left: 0;
		    margin-bottom: 1rem;
		    li {
		        float: left;
		        padding-left: 3px;
		        padding-right: 3px;
		        font-weight: 900;
		        &.firstLetter {
		            border-left: 1px solid c.$tc-color-medium;
		            border-right: 1px solid c.$tc-color-medium;
		        }
		        &.otherLetter {
		            border-right: 1px solid c.$tc-color-medium;
		        }
		        &.lastLetter {
		            border-right: 1px solid c.$tc-color-medium;
		        }
		        &.noLink {
		            color: c.$tc-color-medium;
		            font-weight: 400;
		            border-right: 1px solid c.$tc-color-medium;
		        }
		    }
		}

	}
	div.prevnext {
	    border: 0 !important;
	    padding: 0 !important;
	    ul {
	        list-style-type: none;
	        li {
	            float: left;
	            padding-left: 3px;
	            padding-right: 3px;
	            font-weight: 900;
	        }
	    }
	}
}
