/** Overrides Boostrap vars and must come before any bootstrap include **/
$default-body-font-size : 16px;
$default-radius :         .25rem;
$default-h1 :             2rem;
$default-sans :           "VeraSans", -apple-system, system-ui, BlinkMacSystemFont, Verdana, Helvetica, sans-serif;
$default-sans-bold :      "VeraSansBold", sans-serif;
$default-serif :          "VeraSerif", Georgia, "Times New Roman", Times, serif;
$default-serif-bold :     "VeraSerifBold", serif;
$default-mono :           "VeraMono", SFMono-Regular, Menlo, Monoco, Consolas, "Courier New", monospace;

$font-family-sans-serif : $default-sans;
$font-family-serif :      $default-serif;
$font-family-monospace :  $default-mono;
$font-family-base :       $default-sans;

$grid-columns :      12;
$grid-gutter-width : 30px; // needs to be even number
$grid-margin-width : $grid-gutter-width/2;

$h1-font-size : $default-body-font-size * 2;
$h2-font-size : $default-body-font-size * 1.75;
$h3-font-size : $default-body-font-size * 1.5;
$h4-font-size : $default-body-font-size * 1.25;
$h5-font-size : $default-body-font-size;
$h6-font-size : $default-body-font-size * .85;

/* legacy size variables not sure they are still used */
$font-size-h1 : $h1-font-size;
$font-size-h2 : $h2-font-size;
$font-size-h3 : $h3-font-size;
$font-size-h4 : $h4-font-size;
$font-size-h5 : $h5-font-size;
$font-size-h6 : $h6-font-size;

$gradient-direction : 180deg;
$gradient-midpoint :  50%;
/* longpoint/shortpoint allows balanced gradients for header and footer */
$gradient-longpoint:  65%;
$gradient-shortpoint: 35%;

$spacer : 1rem;
$spacer-x : $spacer;
$spacer-y : $spacer;
$spacers : (
    0: 0,
    1: $spacer-x * .25,
    q: $spacer-x * .25,
    2: $spacer-x * .5,
    h: $spacer-x * .5,
    3: $spacer-x,
    one: $spacer-x,
    4: $spacer-x * 1.5,
    oh: $spacer-x * 1.5,
    5: $spacer-x * 3,
    tre: $spacer-x * 3,
    6: $spacer-x * 2,
    two: $spacer-x * 2,
);

$zindex-dropdown : 1025;
