/*! lib/defaults/variables */
/** Overrides Bootstrap vars and must come before any Bootstrap include **/
@use "sass:map";
@use "sass:math";
@use "../colors" as c;

$nsgroup_theme:          "blue" !default;
$default-body-font-size:  16px !default;
$default-radius:          .25rem !default;
$default-h1:              2rem !default;
$default-sans:            "VeraSans", -apple-system, system-ui, BlinkMacSystemFont, Verdana, Helvetica, sans-serif !default;
$default-sans-bold:       "VeraSansBold", sans-serif !default;
$default-serif:           "VeraSerif", Georgia, "Times New Roman", Times, serif !default;
$default-serif-bold:      "VeraSerifBold", serif !default;
$default-mono:            "VeraMono", SFMono-Regular, Menlo, Monoco, Consolas, "Courier New", monospace !default;

$enable-rounded:          true !default;
$enable-shadows:          false !default;
$enable-gradients:        false !default;

$font-family-sans-serif:  $default-sans !default;
$font-family-serif:       $default-serif !default;
$font-family-monospace:   $default-mono !default;
$font-family-base:        $default-sans !default;

$font-size-base:          $default-body-font-size !default;
$font-size-lg:            $font-size-base * 1.25 !default;
$font-size-sm:            $font-size-base * .875 !default;

$line-height-lg:          1.5 !default;
$line-height-sm:          1 !default;

$grid-columns:            12 !default;
$grid-gutter-width:       30px !default; // needs to be even number
$grid-margin-width:       math.div($grid-gutter-width, 2) !default;

$grid-breakpoints:        (
                            xs: 0,
                            sm: 576px,
                            md: 768px,
                            lg: 992px,
                            xl: 1200px
                          ) !default;

$h1-font-size:            $default-body-font-size * 2 !default;
$h2-font-size:            $default-body-font-size * 1.75 !default;
$h3-font-size:            $default-body-font-size * 1.5 !default;
$h4-font-size:            $default-body-font-size * 1.25 !default;
$h5-font-size:            $default-body-font-size !default;
$h6-font-size:            $default-body-font-size * .85 !default;

/* legacy size variables */
$font-size-h1:            $h1-font-size !default;
$font-size-h2:            $h2-font-size !default;
$font-size-h3:            $h3-font-size !default;
$font-size-h4:            $h4-font-size !default;
$font-size-h5:            $h5-font-size !default;
$font-size-h6:            $h6-font-size !default;

$gradient-direction:      180deg !default;
$gradient-longpoint:      65% !default;
$gradient-midpoint:       50% !default;
$gradient-shortpoint:     35% !default;

$border-width:            1px !default;
$border-radius:           .25rem !default;
$border-radius-lg:        .3rem !default;
$border-radius-sm:        .2rem !default;

// Pagination
$pagination-padding-y:    .5rem !default;
$pagination-padding-x:    .75rem !default;
$pagination-padding-y-sm: .25rem !default;
$pagination-padding-x-sm: .5rem !default;
$pagination-padding-y-lg: .75rem !default;
$pagination-padding-x-lg: 1.5rem !default;
$pagination-line-height:  1.25 !default;
$pagination-border-width: $border-width !default;

$shadow-blur:             2px !default;
$shadow-color:            c.$dc-black-color !default;
$shadow-x:                2px !default;
$shadow-y:                2px !default;
$btn-shadow-blur:         1px !default;
$btn-shadow-color:        c.$dc-black-color !default;
$btn-shadow-x:            1px !default;
$btn-shadow-y:            1px !default;

$spacer:                  1rem !default;
$spacer-x:                $spacer !default;
$spacer-y:                $spacer !default;
$spacers:                 (
                            0: 0,
                            1: $spacer-x * .25,
                            q: $spacer-x * .25,
                            2: $spacer-x * .5,
                            h: $spacer-x * .5,
                            3: $spacer-x,
                            one: $spacer-x,
                            4: $spacer-x * 1.5,
                            oh: $spacer-x * 1.5,
                            5: $spacer-x * 3,
                            tre: $spacer-x * 3,
                            6: $spacer-x * 2,
                            two: $spacer-x * 2,
                          ) !default;

$zindex-dropdown:         1025 !default;

