/*! lib/defaults/widths   sort of flexible widths */
.mw50 {
  max-width: 50px;
}

.mw100 {
  max-width: 100px;
}

.mw150 {
  max-width: 150px;
}

.mw200 {
  max-width: 200px;
}

.mw250 {
  max-width: 250px;
}

.mw300 {
  max-width: 300px;
}

.mw350 {
  max-width: 350px;
}

.mw400 {
  max-width: 400px;
}

.mw450 {
  max-width: 450px;
}

.mw500 {
  max-width: 500px;
}

.mw550 {
  max-width: 550px;
}

.mw600 {
  max-width: 600px;
}

.pw100 {
  width: 100%;
}

.pw90 {
  width: 90%;
}

.pw80 {
  width: 80%;
}

.pw70 {
  width: 70%;
}

.pw60 {
  width: 60%;
}

.pw50 {
  width: 50%;
}

.pw40 {
  width: 40%;
}

.pw30 {
  width: 30%;
}

.pw20 {
  width: 20%;
}

.pw10 {
  width: 10%;
}
