$color-default:    $green-darker;
$color-dark:       $green-dark;
$color-medium:     $green-medium;
$color-light:      $green-light;
$color-lightest:   $green-lightest;
$color-body:       $green-dark;
$color-container:  $green-lightest;
$color-border:     $green-darker;
$color-complement: $green-complement;