$color-default:    $green-darker;
$color-dark:       $green-dark;
$color-medium:     $green-medium;
$color-light:      $green-light;
$color-lightest:   $green-lightest;
$color-body:       $green-dark;
$color-container:  $green-lightest;
$color-border:     $green-darker;
$color-complement: $green-complement;

/* Gradient */
$gradient-start: $green-medium-dark;
$gradient-stop:  $green-medium-light;

/* Navbar */
$navbar-text-color:      $green-xlight;
$navbar-link-active:     $green-light;
$navbar-link-hover:      $color-white;
$navbar-sub-bg:          $green-xlight;
$navbar-sub-bg-hover:    $green-light;
$navbar-sub-text-color:  $black-color;
$navbar-sub-link-active: $green-light;
$navbar-sub-link-hover:  $green-medium-dark;

