/*! Form specific styles */
#people-form {
  fieldset {
    border: 1px $color-black dotted;
    padding: 1.5rem;
    margin: 1rem;
  }
  input {
    width: 200px;
    &#description {
      width: 600px;
    }
    &[type="checkbox"] {
      width: auto;
    }
  }
}

.constants-form {
  input {
    width: 200px;
  }
}
