$black_color:     #000000;
$blue_color:      #000066;
$brown_color:     #68472E;
$gray_color:      #808080;
$green_color:     #006400;
$magenta_color:   #FF00FF;
$off_white_color: #F5F5F5;
$orange_color:    #FFA500;
$pink_color:      #FF69B4;
$purple_color:    #800080;
$red_color:       #AA0000;
$teal_color:      #008080;
$violet_color:    #9400D3;
$white_color:     #FFFFFF;
$yellow_color:    #FFFF00;

$blue_dark:       $blue_color;
$blue_medium:     #0000DD;
$blue_light:      #00FFFF;
$blue_xlight:     lighten($blue_dark, 90%);
$blue_complement: #9FC8E6;

$gray_20:         #333333;
$gray_25:         #404040;
$gray_40:         #666666;
$gray_50:         #808080;
$gray_60:         #999999;
$gray_75:         #BFBFBF;
$gray_80:         #CCCCCC;
$gray_90:         #E6E6E6;
$gray_95:         #F2F2F2;

$gray_dark:       $gray_20;
$gray_medium:     $gray_50;
$gray_light:      $gray_80;
$gray_xlight:     $gray_95;
$gray_complement: #276998;

$slate_dark:   #2F4F4F;
$slate_medium: #708090;
$slate_light:  #94A9BE;
$slate_xlight: #C4D2E0;
$slate_color:  $slate_medium;

$brown_dark:       $brown_color;
$brown_medium:     #8B4513;
$brown_light:      #CC9166;
$brown_xlight:     #E6C883;
$brown_complement: #13598B;

$gunmetal_dark:       #2C3539;
$gunmetal_medium:     #576870;
$gunmetal_light:      #829CA8;
$gunmetal_xlight:     #94B2BF;
$gunmetal_complement: #382F2B;

$green_dark:       $green_color;
$green_medium:     lighten($green_dark, 33%);
$green_light:      lighten($green_dark, 66%);
$green_xlight:     lighten($green_dark, 90%);
$green_complement: #640032;

$color_black:      $black_color;
$color_blue:       $blue_color;
$color_gray:       $gray_color;
$color_gray_trans: transparentize($gray_90, .35);
$color_green:      $green_color;
$color_magenta:    $magenta_color;
$color_off_white:  $off_white_color;
$color_orange:     $orange_color;
$color_pink:       $pink_color;
$color_purple:     $purple_color;
$color_red:        $red_color;
$color_slate:      $slate_color;
$color_teal:       $teal_color;
$color_violet:     $violet_color;
$color_white:      $white_color;
$color_yellow:     $yellow_color;

$color_default:    $gray_color;
$color_dark:       $gray_dark;
$color_medium:     $gray_medium;
$color_light:      $gray_light;
$colo_xlight:      $gray_xlight;
$color_complement: $gray_complement;
$color_body:       $gray_xlight;
$color_container:  $gray_xlight;
$color_border:     $gray_dark;
$color_shadow:     transparentize($color_default, .35);
$color_shadow_alt: transparentize($color_complement, .35);
$color_span:       $gray_xlight;
