$blue_dark:       #1B72B1;
$blue_medium:     #DEEAF3;
$blue_medium:     #F3F7FB;
$blue_light:      #FFF;
$blue_complement: #9FC8E6;
$blue_body:       #d3d3d3;
$blue_container:  #f0f0f0;
$blue_border:     #d3d3d3;
$blue_shadow:     #808080;
$blue_span:       #FFF;
$blue_color:      #000;

$gray_dark:       #5c5c5c;
$gray_medium:     #e7e7e7;
$gray_light:      #fcfcfc;
$gray_complement: #276998;
$gray_body:       #d3d3d3;
$gray_container:  #f0f0f0;
$gray_border:     #d3d3d3;
$gray_shadow:     #808080;
$gray_span:       #FFF;
$gray_color:      #000;

$brown_dark:       #684343;
$brown_medium:     #DBDDF0;
$brown_light:      #FFF;
$brown_complement: #1B72B1;
$brown_body:       #d3d3d3;
$brown_container:  #f0f0f0;
$brown_border:     #d3d3d3;
$brown_shadow:     #808080;
$brown_span:       #FFF;
$brown_color:      #684343;

$gunmetal_dark:       #427498;
$gunmetal_medium:     #e4ebf0;
$gunmetal_light:      #fff;
$gunmetal_complement: #276998;
$gunmetal_body:       #d3d3d3;
$gunmetal_container:  #f0f0f0;
$gunmetal_border:     #d3d3d3;
$gunmetal_shadow:     #808080;
$gunmetal_span:       #FFF;
$gunmetal_color:      #427498;

$green_dark:       #4d7f7b;
$green_medium:     #e3eeed;
$green_light:      #fff;
$green_complement: #427498;
$green_body:       #d3d3d3;
$green_container:  #f0f0f0;
$green_border:     #d3d3d3;
$green_shadow:     #808080;
$green_span:       #FFF;
$green_color:      #4d7f7b;

$default_color:      $gray_color;
$default_complement: $gray_complement;
$default_dark:       $gray_dark;
$default_medium:     $gray_medium;
$default_light:      $gray_light;
$default_body:       $gray_body;
$default_container:  $gray_container;
$default_border:     $gray_border;
$default_shadow:     transparentize($default_color, .35);
$default_shadow_alt: transparentize($default_complement, .35);
$default_span:       $gray_span;
$default_gray:       #E7E7E7;
$default_gray_trans: transparentize($default_gray, .05);
$default_off_white:  #F5F5F5;

$color_default:    $default_color;
$color_dark:       $default_dark;
$color_medium:     $default_medium;
$color_light:      $default_light;
$color_complement: $default_complement;
$color_body:       $default_body;
$color_container:  $default_container;
$color_border:     $default_border;
$color_shadow:     $default_shadow;
$color_span:       $default_span;
$color_gray:       $default_gray;
$color_gray_trans: $default_gray_trans;
$color_off_white:  $default_off_white;
