.aright {
    text-align: right;
}
.aleft {
    text-align: left;
}
.bold {
    font-weight: 900;
}
.container {
    border: 1px solid $color_border;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0.6rem 0.6rem 1rem $color_shadow;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: $color_container;
    .row {
        background-color: $color_span;
        padding-right: 2rem;
        padding-left: 1rem;
        margin: 0;
        [class*="col"] {
            background-color: $color_span;
            border: 0;
            padding: 0 .25rem;
            border-radius: 0;
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
        &.boxed {
            [class*="col"] {
                background-color: $color_span;
                border: 1px solid $color_border;
                border-radius: 10px;
                margin-bottom: 1rem;
                padding: 1rem 2rem;
            }
        }
        &.normal-row {
            [class*="col"] {
                border: 0;
                padding: 0;
                border-radius: 0;
                margin-top: .25rem;
                margin-bottom: .25rem;
            }
        }
        &.alt-row {
            [class*="col"] {
                border: 0;
                padding: 0;
                margin-top: .25rem;
                margin-bottom: .25rem;
                border-radius: 0;
                background-color: $color_medium;
            }
            background-color: $color_medium;
        }
        &.upper {
            border-radius: 0 2rem 0 0;
            padding-top: 1rem;
        }
        &.lower {
            border-radius: 0 0 2rem 0;
        }
        &.row-inside {
            padding-left: 0;
        }
    }
}
.red {
    color: $red_color;
}
.green {
    color: $green_color;
}
.blue {
    color: $blue_color;
}

#login-form {
    .row {
        margin-right: 0;
        margin-left: 0;
        padding-right: .25rem;
        padding-left: .25rem;
    }
    label {
        vertical-align: baseline;
        padding-top: .25rem;
    }
}
.border-radius-top-right {
    border-top-right-radius: $default_radius;
}
.border-radius-bottom-right {
    border-bottom-right-radius: $default_radius;
}
.border-radius-top-left {
    border-top-left-radius: $default_radius;
}
.border-radius-bottom-left {
    border-bottom-left-radius: $default_radius;
}
.border-radius-left {
    border-top-left-radius: $default_radius;
    border-bottom-left-radius: $default_radius;
}
.border-radius-right {
    border-top-right-radius: $default_radius;
    border-bottom-right-radius: $default_radius;
}
.border-radius-top {
    border-top-left-radius: $default_radius;
    border-top-right-radius: $default_radius;
}
.border-radius-bottom {
    border-bottom-left-radius: $default_radius;
    border-bottom-right-radius: $default_radius;
}
.pad-right-12 {
    padding-right: 12px !important;
}
.hobbit {
    display: none;
}
