.container {
    /*
    @media print {

    }
    */
    @media only screen and (min-width: 768px) and (max-width: 979px) {

    }
    @media only screen and (max-width: 767px) {
        /* Landscape phone to portrait tablet */
    }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    }
    @media only screen and (max-width: 480px) {
        border: 0;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
    }
    /*
    @media (max-width: 979px) { }
    @media (min-width: 980px) { }
    */
    @media only screen and (max-width: 559px) {
        /* small screen */
    }
}