@import "color";
@import "main_common";

.test-results {
  font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif;
  list-style: none;
  ul {
    list-style: none;
  }
}

@import "btn";
@import "form";
@import "media-queries";