@import "color";
@import "main_common";

.list-header {
    background-color: $gray_dark !important;
    color: white;
    div {
        background-color: $gray_dark !important;
        color: white;
    }
}

#people-form {
    fieldset {
        border: 1px black dotted;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }
    input {
        width: 200px;
        &#description {
            width: 600px;
        }
    }
}
.constants-form {
    input {
        width: 200px;
    }
}

@import "form";
@import "widths";
@import "media_queries";
@import "media_queries_admin";
