@import "color";
@import "main_common";

.list-header {
    background-color: $gray_dark !important;
    color: white;
    div {
        background-color: $gray_dark !important;
        color: white;
    }
}

.w100 {
    width: 100px;
}

@import "form";
