/* Changes from Bootstrap */
html { font-size: 13px; }

body { font-family: 'Lato', Helvetica, sans-serif; font-weight: 400; background-color: lightgrey; }
@media only screen and (max-width: 480px) { body { padding: 0; } }

h1, h2, h3, h4, h5, h6 { font-family: 'Merriweather', serif; margin-top: 0; padding-top: 0; }

h1, h2, h3 { font-weight: 900; }

h4, h5, h6 { font-weight: 700; }

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.25rem; }

h5, h6 { font-size: 1rem; }

h1, h3, h5 { color: #5c5c5c; }

h2, h4, h6 { color: #276998; }

p { font-weight: 400; font-size: 1rem; }

.container { border: 1px solid lightgrey; border-radius: 0 2rem 2rem 0; box-shadow: 0.6rem 0.6rem 1rem gray; padding: 2rem; margin-top: 1rem; margin-bottom: 2rem; background-color: #f0f0f0;     /* @media print {
 } */ /*
@media (max-width: 979px) { }
@media (min-width: 980px) { }
*/ }
.container .row-fluid [class*="span"] { background-color: white; border: 1px solid lightgrey; border-radius: 10px; margin-bottom: 1rem; padding: 1rem 2rem; }
.container .row-fluid .no-box { background-color: inherit; border: 0; padding: 0; margin: 0 0 1rem 0; }
.container .row-fluid .no-box div.no-box { margin-right: 1rem; }
.container .row-fluid div.item-card a.item-link { font-size: 1.2rem; font-weight: 900; }
@media only screen and (max-width: 767px) { .container { /* Landscape phone to portrait tablet */ } }
@media only screen and (max-width: 480px) { .container { border: 0; padding-left: 0; padding-right: 0; box-shadow: none; margin-top: 0; margin-bottom: 0; border-radius: 0; } }
@media only screen and (max-width: 559px) { .container { /* small screen */ } }

hr.item-card { margin: .5rem 0; width: 50%; }

/* Standard Btn formating */
.btn { display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */ *display: inline; vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 14px / 100% Arial, Helvetica, sans-serif; font-weight: 700; padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.btn:hover { text-decoration: none; }
.btn:active { position: relative; top: 1px; }
.btn.bigrounded { -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; }
.btn.medium { font-size: 12px; padding: .4em 1.5em .42em; }
.btn.small { font-size: 11px; padding: .2em 1em .275em; }
.btn.black { color: #d7d7d7; border: solid 1px #333; background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black)); background: -moz-linear-gradient(top, #666666, black); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); }
.btn.black:hover { background: #000; background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black)); background: -moz-linear-gradient(top, #444444, black); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); }
.btn.black:active { color: #666; background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444)); background: -moz-linear-gradient(top, black, #444444); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666'); }
.btn.gray { color: #e9e9e9; border: solid 1px #555; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757)); background: -moz-linear-gradient(top, #888888, #575757); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }
.btn.gray:hover { background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b)); background: -moz-linear-gradient(top, #757575, #4b4b4b); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }
.btn.gray:active { color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888)); background: -moz-linear-gradient(top, #575757, #888888); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }
.btn .white { color: #606060; border: solid 1px #b7b7b7; background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed)); background: -moz-linear-gradient(top, white, #ededed); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
.btn .white:hover { background: #ededed; background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro)); background: -moz-linear-gradient(top, white, gainsboro); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
.btn .white:active { color: #999; background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white)); background: -moz-linear-gradient(top, #ededed, white); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }
.btn.orange { color: #fef4e9; border: solid 1px #da7c0c; background: #f78d1d; background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); background: -moz-linear-gradient(top, #faa51a, #f47a20); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }
.btn.orange:hover { background: #f47c20; background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); background: -moz-linear-gradient(top, #f88e11, #f06015); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); }
.btn.orange:active { color: #fcd3a5; background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); background: -moz-linear-gradient(top, #f47a20, #faa51a); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); }
.btn.red { color: #faddde; border: solid 1px #980c10; background: #d81b21; background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317)); background: -moz-linear-gradient(top, #ed1c24, #aa1317); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); }
.btn.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top, #c9151b, #a11115); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); }
.btn.red:active { color: #de898c; background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24)); background: -moz-linear-gradient(top, #aa1317, #ed1c24); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24'); }
.btn.blue { color: #d9eef7; border: solid 1px #0076a3; background: #0095cd; background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5)); background: -moz-linear-gradient(top, #00adee, #0078a5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }
.btn.blue:hover { background: #007ead; background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e)); background: -moz-linear-gradient(top, #0095cc, #00678e); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e'); }
.btn.blue:active { color: #80bed6; background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee)); background: -moz-linear-gradient(top, #0078a5, #00adee); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee'); }
.btn.rosy { color: #fae7e9; border: solid 1px #b73948; background: #da5867; background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f)); background: -moz-linear-gradient(top, #f16c7c, #bf404f); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f'); }
.btn.rosy:hover { background: #ba4b58; background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845)); background: -moz-linear-gradient(top, #cf5d6a, #a53845); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845'); }
.btn.rosy:active { color: #dca4ab; background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c)); background: -moz-linear-gradient(top, #bf404f, #f16c7c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c'); }
.btn.green { color: #e8f0de; border: solid 1px #538312; background: #64991e; background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e)); background: -moz-linear-gradient(top, #7db72f, #4e7d0e); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
.btn.green:hover { background: #538018; background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c)); background: -moz-linear-gradient(top, #6b9d28, #436b0c); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c'); }
.btn.green:active { color: #a9c08c; background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f)); background: -moz-linear-gradient(top, #4e7d0e, #7db72f); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f'); }
.btn.pink { color: #feeef5; border: solid 1px #d2729e; background: #f895c2; background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab)); background: -moz-linear-gradient(top, #feb1d3, #f171ab); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab'); }
.btn.pink:hover { background: #d57ea5; background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4)); background: -moz-linear-gradient(top, #f4aacb, #e86ca4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4'); }
.btn.pink:active { color: #f3c3d9; background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3)); background: -moz-linear-gradient(top, #f171ab, #feb1d3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3'); }

/* menu bar */
.menu { float: left; padding: 0; margin: 0; }
.menu ul { padding: 0; margin: 0 10px 10px 10px; list-style: none; background-color: #000; }
.menu li { /* all list items */ float: left; margin: 0; padding: 0; line-height: 1.4rem; font-weight: 900; text-align: center; width: 9rem; height: 1.4rem; }
.menu a { display: block; margin: 0; color: #F3F7FB; text-decoration: none; font-size: 1rem; font-family: sans-serif; background-color: #5c5c5c; }
.menu li#current { float: left; margin: 0; padding: 0; font-weight: 900; font-size: 100%; text-align: center; }
.menu #current a { display: block; margin: 0; color: #3399FF; text-decoration: none; }
.menu a:hover, .menu div:hover { color: #3399ff; }
.menu li ul { /* second-level lists */ position: absolute; background: #B2B2B2; width: 9.25rem; left: -999rem; /* using left instead of display to hide menus because display: none isn't read by screen readers */ }
.menu li:hover ul { /* lists nested under hovered list items */ left: auto; }
.menu li:hover ul ul { left: -999rem; }
.menu li:hover ul ul ul { left: -999rem; }
.menu li li:hover ul, .menu li li li:hover ul { /* lists nested under hovered list items */ left: auto; }
.menu li ul li { width: 100%; text-align: left; font-size: .85rem; height: 2rem; line-height: 2rem; }
.menu li ul li a { padding-left: 1rem; }

/* A nice form format */
ul.niceform { font-family: Arial, Tahoma, Helvetica, Geneva, sans-serif; list-style: none; margin: 1px; margin-bottom: 12px; padding: 0; border: 1px solid #1C7EAD; }
ul.niceform:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
ul.niceform li { clear: both; margin: 0; padding: 0; line-height: 1.5em; min-height: 1.5em; }
ul.niceform li div { min-height: 1.5em; }
ul.niceform li div.aright, ul.niceform li div.aleft { float: left; padding: 3px; }
ul.niceform div.acenter { float: left; padding: 3px; }
ul.niceform li div.aright { text-align: right; padding-right: 6px; }
ul.niceform li div.aleft { text-align: left; padding-left: 6px; }
ul.niceform li div.acenter { text-align: center; padding-left: 6px; padding-right: 6px; }
ul.niceform li div.bright { border-right: 1px solid #1C7EAD; }
ul.niceform li.alt-row div { background-color: #F3F7FB; }
ul.niceform li.default-row div { background-color: white; }
ul.niceform li.skinny { min-height: 1em; max-height: 1em; }
ul.niceform li.skinny div { min-height: 1em; max-height: 1em; }

/* The Alpha List Menu */
.container div.selections { border: 0 !important; padding: 0 !important; }
.container div.selections label.selectLabel, .container div.selections label.selectLabel { font-weight: 900; display: inline-block; vertical-align: top; margin: 0; margin-right: .75rem; }
.container div.selections select { height: 2rem; line-height: 2rem; width: 200px; vertical-align: top; }
.container div.quick-form { border: 0 !important; padding: 0 !important; padding-left: 1rem !important; }
.container div.quick-form #quick-search { margin: 0; }
.container div.quick-form #quick-search legend { font-size: 1rem; font-weight: bold; border: 0; line-height: 1.5rem; }
.container div.quick-form #quick-search input { width: 15rem; margin-top: .5rem; margin-right: 1rem; vertical-align: middle; }
.container div.quick-form #quick-search button { vertical-align: middle; }
.container div.quick-form #quick-search .help { display: none; }
.container div.alpha { margin-left: 0px !important; margin-bottom: 0px !important; border: 0px !important; padding: 0px !important; }
.container div.alpha #alphaListMenu { list-style-type: none; margin-left: 0px; margin-bottom: 1rem; }
.container div.alpha #alphaListMenu li { float: left; padding-left: 3px; padding-right: 3px; font-weight: 900; }
.container div.alpha #alphaListMenu li.firstLetter { border-left: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; }
.container div.alpha #alphaListMenu li.otherLetter { border-right: 1px solid #e7e7e7; }
.container div.alpha #alphaListMenu li.lastLetter { border-right: 1px solid #e7e7e7; }
.container div.alpha #alphaListMenu li.noLink { color: #e7e7e7; font-weight: 400; border-right: 1px solid #e7e7e7; }
.container div.prevnext { border: 0 !important; padding: 0 !important; }
.container div.prevnext ul { list-style-type: none; }
.container div.prevnext ul li { float: left; padding-left: 3px; padding-right: 3px; font-weight: 900; }
