{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container">
    {% if isList %}
        {% include '@' ~ lib_prefix ~ 'snippets/content_list.twig' %}
    {% else %}
        {% include '@' ~ lib_prefix ~ 'snippets/content_details.twig' %}
    {% endif %}
    </div>
    {% include '@' ~ lib_prefix ~ 'snippets/instructions.twig' %}
{% endblock %}
