{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block vendorJs %}
    {{ parent() }}
    <script src="{{ vendor_dir }}/jquery-validation/dist/jquery.validate.min.js"></script>
{% endblock %}
{% block body %}
    <div class="container">
    {% if content_type == 'versions' %}
        {% include '@' ~ lib_prefix ~ 'snippets/content_versions.twig' %}
    {% elseif content_type == 'details' %}
        {% include '@' ~ lib_prefix ~ 'snippets/content_details.twig' %}
    {% else %}
        {% include '@' ~ lib_prefix ~ 'snippets/content_list.twig' %}
    {% endif %}
    </div>
    {% include '@' ~ lib_prefix ~ 'snippets/instructions.twig' %}
{% endblock %}
