{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block title %}{{ parent() }}: Error{% endblock %}
{% block body %}
    <p>The page could not be found. Please try one of these links.</p>
    {% include '@' ~ lib_prefix ~ 'snippets/sitemap.twig' %}
{% endblock %}
{% block footer %}
    <!-- Footer -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 footer">
            <p>Copyright &copy;&nbsp;{{ copyright_date }}<strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved &reg;</p>
        </div>
    </div>
    <!-- /footer -->
{% endblock %}
