{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block bodyTitle %}
    {% if title %}
        {% set title = title ~ ': Error' %}
    {% elseif body_title %}
        {% set body_title = body_title ~ ': Error' %}
    {% else %}
        {% set title = 'Error' %}
    {% endif %}
    {{ parent() }}
{% endblock bodyTitle %}
{% block body %}
    <div class="container container-main">
        <p>The page could not be found. Please try one of these links.</p>
        {{ include(lib_snippets ~ 'sitemap.twig') }}
    </div>
{% endblock body %}
