{% extends '@default/base.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    {% include "@snippets/item.twig" with { 'item': item_data } %}
                </div>
            </div>
{% endblock %}
