{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ css_dir }}/styles_library.css" media="screen">
{% endblock %}
{% block vendorJs %}
{{ parent() }}
    <script src="{{ vendor_assets }}/jquery-validation/dist/jquery.validate.js"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block search %}{% endblock %}
{% block bodyTitle %}{% endblock %}
{% block message %}{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="smaller"><i class="far fa-book fa-2x pr-3"></i>  Welcome! Please Login</h1>
    </div>
    {% if a_message.message != '' %}
        <div class="container">
            {% include '@' ~ lib_prefix ~ 'snippets/message.twig' %}
        </div>
    {% endif %}
    <div class="container">
        {% include '@' ~ lib_prefix ~ 'forms/login_form.twig' %}
    </div>
{% endblock %}
