{% extends '@default/base.twig' %}
{% block title %}Welcome. Please Login.{% endblock %}
{% block stylesheets %}
    {% include '@snippets/base_css.twig' %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <h1>Welcome! Please Login.</h1>
    </div>
</div>
{% if a_message.message != '' %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {% include '@snippets/message.twig' %}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <form action="/manager/login/" method="post">
            <label for="login_id">You Login ID: <input type="text" id="login_id" name="login_id" maxlength="64" width="32" value="{{ login_id }}"></label><br>
            <label>Your Password: <input type="text" id="password" name="password" maxlength="64" width="32" value=""></label><br>
            <input type="hidden" id="tolken" name="tolken" value="{{ tolken }}">
            <input type="hidden" id="form_ts" name="form_ts" value="{{ form_ts }}">
            <input type="text" id="hobbit" name="hobbit" value="" class="hobbit">
            <button type="submit" value="submit" class="btn white medium">LogIn</button>
        </form>
    </div>
</div>
{% endblock %}
{# expected array ['public_dir','login_id', 'tolken', 'form_ts', 'a_message'] #}