{% extends '@' ~ twig_prefix ~ 'default/base.twig' %}
{% block body %}
    <div class="container">
        <h1 class="smaller">Welcome! Please Login. <small>This is for site managers.</small></h1>
    </div>
    {% if a_message.message != '' %}
        <div class="container">
            {% include '@' ~ twig_prefix ~ 'snippets/message.twig' %}
        </div>
    {% endif %}
    <div class="container">
    {% include '@' ~ twig_prefix ~ 'forms/login_form.twig' %}
    </div>
{% endblock %}