{% extends '@' ~ page_prefix ~ 'pages/index.twig' %}
{% block body %}
    <div class="container">
        {% include '@' ~ lib_prefix ~ 'forms/single_button_form.twig' with navgroups_btn %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-11">
                {% include '@' ~ lib_prefix ~ 'forms/single_button_form.twig' with new_btn_form %}
            </div>
        </div>
        <div class="row list-header hidden-sm-down">
            <div class="col-12 col-md-3">
                Name
            </div>
            <div class="col-12 col-md-6">
                Description
            </div>
            <div class="col-12 col-md-3">
                &nbsp;
            </div>
        </div>
    {% for nav in a_nav %}
        {% set class = loop.index is divisible by(2) ? 'even' : 'odd' %}
        <div class="row list-header hidden-sm-down">
            <div class="col-12 col-md-3">
                {{ nav.nav_text }}
            </div>
            <div class="col-12 col-md-6">
                {{ nav.nav_description }}
            </div>
            <div class="col-12 col-md-3">
                {% include '@' ~ lib_prefix ~ 'forms/update_delete_btn_form.twig' with nav %}
            </div>
        </div>
        {% if nav.submenu %}
            {% for sub in nav.submenu %}
            <div class="row list-header hidden-sm-down">
                <div class="col-12 col-md-3">
                    {{ sub.nav_text }}
                </div>
                <div class="col-12 col-md-6">
                    {{ sub.nav_description }}
                </div>
                <div class="col-12 col-md-3">
                    {% include '@' ~ lib_prefix ~ 'forms/update_delete_btn_form.twig' with sub %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
        <div class="row">
            <div class="col-md-1 offset-md-11">
                {% include '@' ~ lib_prefix ~ 'forms/single_button_form.twig' with new_btn_form %}
            </div>
        </div>
    </div>
{% endblock %}
