{% extends '@' ~ twig_prefix ~ 'pages/index.twig' %}
{% block body %}
    <div class="container">
        <h1 class="smaller">{{ page_title }}</h1>
    </div>
    {% if a_message.message != '' %}
    <div class="container">
        {% include '@' ~ twig_prefix ~ 'snippets/message.twig' %}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-11">
                {% include '@' ~ twig_prefix ~ 'forms/single_button_form.twig' with new_btn_form %}
            </div>
        </div>
    {% for nav in a_nav %}
        {% set class = loop.index % 2 == 0 ? 'normal-row' : 'alt-row' %}
        {% include '@' ~ twig_prefix ~ 'snippets/nav_line.twig' %}
    {% endfor %}
        <div class="row">
            <div class="col-md-1 offset-md-11">
                {% include '@' ~ twig_prefix ~ 'forms/single_button_form.twig' with new_btn_form %}
            </div>
        </div>
    </div>
{% endblock %}
