{% extends '@' ~ page_prefix ~ 'pages/index.twig' %}
{% block body %}
    <div class="container">
        <h1 class="smaller">{{ page_title }}</h1>
    </div>
    {% if a_message.message != '' %}
    <div class="container">
        {% include '@' ~ lib_prefix ~ 'snippets/message.twig' %}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-11">
                <form action="{{ public_dir }}/manager/library/pages/new/" method= "post">
                    <button type="submit" name="submit" value="new_page" class="btn btn-primary btn-xs">New Page</button>
                    <input type="hidden" name="tolken" value="{{ tolken }}" />
                    <input type="hidden" name="form_ts" value="{{ form_ts }}" />
                    <input type="text" name="hobbit" value="" size="2" maxlength="2" class="hobbit" />
                </form>
            </div>
        </div>
{% for page in a_pages %}
    {% if 'library' not in page.page_url %}
        {% set class = loop.index % 2 == 0 ? 'normal-row' : 'alt-row' %}
        {% include '@' ~ page_prefix ~ 'snippets/page_line.twig' %}
    {% elseif adm_lvl == 10 %}
        {% set class = loop.index % 2 == 0 ? 'normal-row' : 'alt-row' %}
        {% include '@' ~ page_prefix ~ 'snippets/page_line.twig' %}
    {% endif %}
{% endfor %}
    </div>
{% endblock %}
