{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block vendorStylesheets %}
    {{ parent() }}
    {% if which_page is not same as('list') %}
        <link rel="stylesheet" type="text/css" href="{{ public_vendor }}/jquery-datetimepicker/jquery.datetimepicker.css">
    {% endif %}
{% endblock %}
{% block body %}
    {% if which_page is same as('list') %}
        {{ include(lib_snippets ~ 'page_list.twig') }}
    {% else %}
        {{ include(lib_snippets ~ 'page_form.twig') }}
    {% endif %}
{% endblock %}
{% block bottomJs %}
    {{ parent() }}
    {% if which_page is not same as('list') %}
    <script src="{{ public_vendor }}/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script src="{{ js_dir }}/config.js"></script>
    {{ include(lib_snippets ~ 'form_validation_js.twig') }}
    {% endif %}
{% endblock %}
