{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}
{% block body %}
    <div class="container">
        <div class="row list-header d-none d-lg-flex sticky-top">
            <div class="col-lg-2">
               Login ID
            </div>
            <div class="col-lg-2">
                Name
            </div>
            <div class="col-lg-6">
                Description
            </div>
            <div class="col-lg-2">
                {% include '@' ~ lib_prefix ~ 'forms/single_button_form.twig' with new_btn %}
            </div>
        </div>
    {% for person in a_people %}
        {% if adm_lvl >= person.auth_level %}
        {% set class = loop.index is even ? 'even' : 'odd' %}
        <div class="row {{ class }}">
            <div class="col-12 col-lg-2">
                <span class="d-lg-none pad-right">LoginID:</span>
                {{ person.login_id }}
            </div>
            <div class="col-12 col-lg-2">
                <span class="d-lg-none pad-right">Name:</span>
                {{ person.real_name }}
            </div>
            <div class="col-12 col-lg-6 text-truncate">
                <span class="d-lg-none pad-right">Description:</span>
                {{ person.description }}
            </div>
            <div class="col-6 col-lg-1">
            {% if adm_lvl >= person.auth_level %}
                {% include '@' ~ lib_prefix ~ 'forms/single_button_form.twig' with person.edit_btn %}
            {% else %}
                &nbsp;
            {% endif %}
            </div>
            <div class="col-6 col-lg-1">
                {% if adm_lvl >= person.auth_level %}
                    {% include '@' ~ lib_prefix ~ 'forms/single_button_form.twig' with person.delete_btn %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% set x = x * -1 %}
    {% endfor %}
    </div>
{% endblock %}
