{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% set hidden_stuph = '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
{% block body %}
<div class="container container-main">
    <div class="row d-none d-lg-flex list-header sticky-top">
        <div class="col-lg-4">Route</div>
        <div class="col-lg-4">Group</div>
        <div class="col-lg-4">&nbsp;</div>
    </div>
    {% set class = 'even' %}
    <div class="row odd">
        <form>
            <div class="col-lg-4">
                {{ include(lib_elements ~ 'select.twig', routes_select) }}
            </div>
            <div class="col-lg-4">
                {{ include(lib_elements ~ 'select.twig', groups_select) }}
            </div>
        </form>
    </div>
</div>