{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% set hidden_stuph = '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
{% set cbx_form = '@' ~ lib_prefix ~ 'elements/checkbox.twig' %}
{% block body %}
    <div class="container container-main">
        <div class="row d-none d-lg-flex list-header sticky-top">
            <div class="col-lg-4">Route Path</div>
            <div class="col-lg-2">Route Class</div>
            <div class="col-lg-2">Route Method</div>
            <div class="col-lg-2">Route Action</div>
            <div class="col-lg-2">&nbsp;</div>
        </div>
        {% set class = 'even' %}
    {% if a_urls_select['options'][1] is empty %}
        <div class="row {{ class }} border-left border-right border-top">
            <div class="col-12">
                No unused urls to assign to a route.
            </div>
        </div>
    {% else %}
        <form action="{{ public_dir }}/manager/config/routes/" method="post">
        <div class="container m-0 pad-lr-0">
            <div class="row {{ class }} border-left border-right border-top">
                <div class="col-12 col-lg-3">
                    {% set this_select = {'select':a_urls_select} %}
                    {{ include(lib_elements ~ 'select.twig', this_select) }}
                </div>
                <div class="col-12 col-lg-3">
                    <label class="d-lg-none" for="route[route_class]">Route Class: </label>
                    <input type="text" id="route[route_class]" name="route[route_class]" value="" maxlength="32"
                           class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_method]">Route Method: </label>
                    <input type="text" id="route[route_method]" name="route[route_method]" value="" maxlength="32"
                           class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_action]">Route Action: </label>
                    <input type="text" id="route[route_action]" name="route[route_action]" value="" maxlength="32"
                           class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New
                        Route
                    </button>
                    <input type="hidden" name="route[route_id]" value=""/>
                    {% include hidden_stuph %}
                </div>
            </div>
            <div class="row {{ class }}">
                {% for group in groups %}
                {% if loop.index0 % 5 == 0 %}
            </div>
            <div class="row {{ class }}">
                {% endif %}
                <div class="col-lg-2 margin-tb-0">
                    {% include cbx_form with group %}
                </div>
                {% endfor %}
            </div>
        </div>
        </form>
    {% endif %}
{% for row in a_routes %}
    {% set class = loop.index is even ? 'even' : 'odd' %}
    {% set last_id = 'route' ~ (loop.length + 1) %}
    {% set for_id = 'route' ~ loop.index %}
    {% if row.route_immutable == 'false' or adm_lvl >= auth_lvl.superadmin %}
        <form action="{{ public_dir }}/manager/config/routes/" method="post">
        <div class="container m-0 pad-lr-0">
            <div class="row {{ class }} border-left border-right">
                <div class="col-12 col-lg-3">
                    {% set select = {'select':row.a_urls} %}
                    {{ include(lib_elements ~ 'select.twig', select, with_context = false) }}
                </div>
                <div class="col-12 col-lg-3">
                    <label class="d-lg-none" for="{{ for_id }}[route_class]">Route Class: </label>
                    <input type="text" id="{{ for_id }}[route_class]" name="route[route_class]"
                           value="{{ row.route_class }}" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="{{ for_id }}[route_method]">Route Method: </label>
                    <input type="text" id="{{ for_id }}[route_method]" name="route[route_method]"
                           value="{{ row.route_method }}" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="{{ for_id }}[route_action]">Route Action: </label>
                    <input type="text" id="{{ for_id }}[route_action]" name="route[route_action]"
                           value="{{ row.route_action }}" maxlength="32" class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <button type="submit" name="submit" value="update" class="btn btn-primary btn-xs">Save
                    </button>
                    <button type="submit" name="submit" value="verify" class="btn btn-outline-danger btn-xs">
                        Delete
                    </button>
                    {% include hidden_stuph %}
                    <input type="hidden" name="route[route_id]" value="{{ row.route_id }}"/>
                </div>
            </div>
            <div class="row {{ class }}">
                {% for group in row.groups %}
                {% if loop.index0 % 5 == 0 %}
            </div>
            <div class="row {{ class }}">
                {% endif %}
                <div class="col-lg-2 margin-tb-0">
                    {% include cbx_form with group %}
                </div>
                {% endfor %}
            </div>
        </div>
        </form>
    {% elseif row.route_class != 'WebController' %}
        <div class="row {{ class }} border-left border-right">
            <div class="col-12 col-lg-3">
                <span class="d-lg-none">URL: </span>{{ row.url_text }}
            </div>
            <div class="col-12 col-lg-3">
                <span class="d-lg-none">Route Class: </span>{{ row.route_class }}
            </div>
            <div class="col-12 col-lg-2">
                <span class="d-lg-none">Route Method: </span>{{ row.route_method }}
            </div>
            <div class="col-12 col-lg-2">
                <span class="d-lg-none">Route Action: </span>{{ row.route_action }}
            </div>
            <div class="col-12 col-lg-2">
                Immutable
            </div>
        </div>
    {% endif %}
{% endfor %}
    {% set class = class == 'odd' ? 'even' : 'odd' %}
    {% if a_urls_select_bottom['options'][1] is empty %}
        <div class="row {{ class }} border-left border-right border-top">
            <div class="col-12">
                No unused urls to assign to a route.
            </div>
        </div>
    {% else %}
        <form action="{{ public_dir }}/manager/config/routes/" method="post">
            <div class="container m-0 pad-lr-0">
            <div class="row {{ class }} border-left border-right border-bottom">
                <div class="col-12 col-lg-4">
                    {% set select = {'select':a_urls_select_bottom} %}
                    {{ include(lib_elements ~ 'select.twig', select, with_context = false) }}
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_class]">Route Class: </label>
                    <input type="text" id="route[route_class]" name="route[route_class]" value="" maxlength="32"
                           class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_method]">Route Method: </label>
                    <input type="text" id="route[route_method]" name="route[route_method]" value="" maxlength="32"
                           class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <label class="d-lg-none" for="route[route_action]">Route Action: </label>
                    <input type="text" id="route[route_action]" name="route[route_action]" value="" maxlength="32"
                           class="flexible colorful"/>
                </div>
                <div class="col-12 col-lg-2">
                    <button type="submit" name="submit" value="save_new" class="btn btn-primary btn-xs">Save New
                        Route
                    </button>
                    {% include hidden_stuph %}
                    <input type="hidden" name="route[route_id]" value=""/>
                </div>
            </div>
            <div class="row {{ class }}">
                {% for group in groups_bottom %}
                {% if loop.index0 % 5 == 0 %}
            </div>
            <div class="row {{ class }}">
                {% endif %}
                <div class="col-lg-2 margin-tb-0">
                    {% include cbx_form with group %}
                </div>
                {% endfor %}
            </div>
            </div>
        </form>
    {% endif %}
    </div>
    {{ include(lib_snippets ~ 'instructions.twig') }}
{% endblock %}
{# Expected values
    [
        'lang',
        'charset',
        'base_url',
        'description',
        'public_dir',
        'title',
        'site_url',
        'rights_holder',
        'a_menus',
        'a_message',
        'a_urls' => [['url_id', 'url_text', 'is_selected'],...],
        'a_routes' => [
            [
                'route_id',
                'route_class',
                'route_method',
                'route_action',
                'route_immutable',
                'url_id'
            ],...
        ],
        'adm_lvl',
        'tolken',
        'form_ts'
    ]
#}
