{% extends '@main/index.twig' %}

{% block prevnext %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 prevnext">
                            {% include "@snippets/prevnext.twig" with { 'prevnext': prevnext } %}
                        </div>
                    </div>
{% endblock %}
