{% extends '@' ~ lib_prefix ~ 'themes/base.twig' %}

{% block prevnext %}
                    <div class="row">
                        <div class="col-md-12 prevnext">
                            {% include "@lib_snippets/prevnext.twig" with { 'prevnext': prevnext } %}
                        </div>
                    </div>
{% endblock %}
