{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block body %}
            <div class="row">
    {% for button in a_buttons %}
        {% if loop.index % 4 == 0 %}
            </div>
            <div class="row">
        {% endif %}
                <div class="col-3">
                    <form action="/manager/config/tests/" method="post">
                        <button type="submit" name="submit" value="{{ button.value }}" class="btn btn-primary btn-xs">{{ button.label }}</button>
                        {% include '@' ~ lib_prefix ~ 'forms/hidden_form_stuff.twig' %}
                        <input type="hidden" name="test" value="{{ button.test }}" />
                    </form>
                </div>
    {% endfor %}
            </div>
{% endblock %}
