{% extends '@' ~ lib_prefix ~ 'themes/' ~ theme_name ~ '.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ css_dir }}/ritc_library.css">
{% endblock %}
{% block body %}
    <div class="container container-main">
        <h1 class="smaller red">Please Verify</h1>
        <p class="alert alert-danger" role="alert">Please verify you wish to delete the {{ what }} '{{ name }}'.</p>
    {% if extra_message %}
        <p class="alert alert-info" role="alert">{{ extra_message }}</p>
    {% endif %}
    {% if submit_value is empty %}
        {% set submit_value = 'delete' %}
    {% endif %}
        <div class="row">
        <form action="{{ public_dir }}{{ form_action }}" method="post" id="delete-form" class="col-lg-6 pad-bottom">
            <button type="submit" name="submit" value="{{ submit_value }}" class="btn btn-red btn-sm">Delete {{ btn_value }}</button>
            <input type="hidden" name="{{ hidden_name }}" value="{{ hidden_value }}" />
            {{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
        </form>
        {% if cancel_action is empty %}
            {% set cancel_action = form_action %}
        {% endif %}
        <form action="{{ public_dir }}{{ cancel_action }}" method="post" class="col-lg-6 pad-bottom">
            <button type="submit" name="submit" value="cancel" class="btn btn-outline-blue btn-sm">Go Back, Don't Delete</button>
            {{ include(lib_forms ~ 'hidden_form_stuff.twig') }}
            <input type="hidden" name="{{ hidden_name }}" value="{{ hidden_value }}" />
        </form></div>
    </div>
{% endblock %}
{# version 2.0 - added ability to go back to thing being deleted without deleting #}
{# expected array
    [what,
     name,
     extra_message
     public_dir,
     where,
     btn_value,
     form_extras,
     hidden_name,
     hidden_value,
     tolken,
     form_ts,
     'site_url',
     'rights_holder',
     'a_menus']
#}
