{% extends 'WerGuideBundle:Default:base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
            <div class="row-fluid">
                <div class="span12">
                    {{ include("WerGuideBundle/Snippets/item.html.twig", { 'item': item_data }) }}
                </div>
            </div>
{% endblock %}
