{% if a_content.instructions %}
        <div class="container instructions">
        {% set ctype = a_content.instructions.c_type %}
        {% set content = a_content.instructions.c_content %}
        {% if ctype == 'html' or ctype == 'xml' or ctype == 'raw' %}
            {{ content | raw }}
        {% elseif ctype == 'md' %}
            {{ content | md }}
        {% elseif ctype == 'mde' %}
            {{ content | mde }}
        {% else %}
            {{ content | nl2br }}
        {% endif %}
        </div>
{% endif %}
