#nav, #nav ul { /* all lists */
    float: left;
    padding: 0;
     margin: 0;
    list-style: none;
    width: 100%;
    background: #A20000 url(/images/layout/tab.jpg) repeat;
}

#nav a {
    display: block;
    margin: 0;
    padding: 4px 8px;
    width: 140px;
    color: #FFFFFF;
    text-decoration: none;
    background: url(/images/layout/tab.jpg) #660000 repeat-x top left;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
    border-color: #FFDFE0;
}

#nav li { /* all list items */
    float: left;
       width: 140px; /* width needed or else Opera goes nuts */
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 100%;
}

#nav li ul { /* second-level lists */
    position: absolute;
      background: #A20000;
    width: 140px;
       left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li ul ul { /* third-and-above-level lists */
    margin: -1em 0 0 140px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
    left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
    left: auto;
}
/* to indicate which page you are on */
body#b-home #t-home a {
    color: #660000;
    border-color: #A20000;
    background: #FAFBDC url(/images/layout/tabselected.jpg) repeat-x top left;
}

