{% extends 'WerFramework:Main:base.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
            <div class="row-fluid">
                <div class="span12">
                    <ul>
                        {% for field in fields %}
                            {{ include('WerGuide:Manager:field-block.twig', {'field': field}) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% endblock %}
