    <li class="{{ li.the_class }}">
        {% if li.is_link %}
            <a href="/search/by_alpha/{{ li.the_letter }}/">{{ li.the_letter }}</a>
        {% else %}
            {{ li.the_letter }}
        {% endif %}
    </li>
