{% extends '@default/base.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <p>{{ body_text }}</p>
                </div>
            </div>
{% endblock %}
{% block footer %}
<!-- Footer -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 footer">
        <p>Copyright &copy;&nbsp;2011-2014 <strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved &reg;</p>
    </div>
</div>
<!-- /footer -->
{% endblock %}
{#
    expected array
        [
            'description',
            'public_dir',
            'title',
            'body_text',
            'site_url',
            'rights_holder'
        ]
#}