{% extends '@default/base.twig' %}
{% block stylesheets %}{% include '@snippets/base_css.twig' %}{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="manager-links">
                        {% for link in links %}
                            <li>
                                {% include '@elements/anchor.twig' %} - {{ link.description }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% endblock %}
{% block footer %}
<!-- Footer -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 footer">
        <p>Copyright &copy;&nbsp;2001-2015 <strong><a href="{{ site_url }}">{{ rights_holder }}</a></strong>, All Rights Reserved &reg;</p>
    </div>
</div>
<!-- /footer -->
{% endblock %}
{#
    expected array
        [
            'lang',
            'charset',
            'base_url',
            'description',
            'public_dir',
            'title',
            'links',
            'site_url',
            'rights_holder'
        ]
#}
